<ion-view>
    <ion-content scroll="false">
        <!--CARD FRONT FACE-->
        <form class="box authentication" name="formName" autocomplete="off" novalidate class="authForm">
            <!--CARD HEADER-->
            <div class="card-header">{{ 'LOGIN' | translate }}</div>
            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <div class="card-content" ng-class="{'err': loginErr}">
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'USERNAME' | translate }}" class="form-control" id="username" ng-model="loginForm.username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control" ng-model="loginForm.password">
                </label>
                <div class="alert alert-success" ng-show="message">
                    {{ message | translate}}
                </div>
            </div>
            <!--END CARD CONTENT-->
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="#/tab/auth" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button ng-disabled="!loginForm.username || !loginForm.password" class="button button-clear button-balanced" ng-click="login()">
                    <h3 class="buttonAuth">{{ 'LOGIN' | translate }}</h3></button>
            </div>
            <!--END CARD FOOTER-->
        </form>
        <!--END CARD FRONT FACE-->
    </ion-content>
</ion-view>
