<ion-view>
    <ion-content scroll="false">
        <!--CARD FRONT FACE-->
        <form class="box authentication" name="formName" autocomplete="off" novalidate class="authForm">
            <!--CARD HEADER-->
            <div class="card-header">{{ 'FORGOT_PASSWORD' | translate }}</div>
            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <div class="card-content" ng-class="{'err': remailErr}">
                <label class="item item-input" ng-if="!success">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input type="email" placeholder="{{ 'EMAIL' | translate }}" class="form-control" id="email" ng-model="reset.email">
                </label>
                <div ng-if="success">
                    <i class="ion-ios-checkmark-outline" style="font-size: 87px;"></i>
                </div>
                <div class="alert alert-success" ng-show="success">
                    {{ 'FORGOT_PASSWORD_SENT' | translate }}
                </div>
                <div class="alert alert-warning" ng-show="error">
                    {{ error | translate}}
                </div>
            </div>
            <!--END CARD CONTENT-->
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="#/tab/auth" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button ng-if="!success" ng-disabled="!reset.email" class="button button-clear button-balanced" ng-click="sendPasswordResetMail(reset.email)">
                    <h3 class="buttonAuth">{{ 'RESET' | translate }}</h3></button>
                <button ng-if="success" class="button button-clear button-balanced ion-ios-checkmark-empty" ui-sref="tab.auth-login"></button>
            </div>
            <!--END CARD FOOTER-->
        </form>
        <!--END CARD FRONT FACE-->
    </ion-content>
</ion-view>
