<ion-view>
    <ion-content scroll="false">
        <!--CARD FRONT FACE-->
        <form class="box authentication" name="formName" autocomplete="off" novalidate class="authForm">
            <!--CARD HEADER-->
            <div class="card-header">{{ 'CREATE_NEW_ACCOUNT' | translate }}</div>
            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <div class="card-content" ng-class="{'err': signupErr}">
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'USERNAME' | translate }}" class="form-control" id="username" ng-model="username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-email placeholder-icon"></i>
                    <input type="email" placeholder="{{ 'EMAIL' | translate }}" class="form-control" id="email" ng-model="email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control" id="password" ng-model="password">
                </label>
                <p>{{ 'TOS' | translate}} <a href="#" ng-click="openTermsUrl()">{{ 'TERMS' | translate}}</a> {{ 'AND' | translate}} <a href="#" ng-click="openPrivacyPolicyUrl()">{{ 'PRIVACY_POLICY' | translate}}</a>
                </p>
                <div ng-show="message">
                    {{ message | translate}}
                </div>
            </div>
            <!--END CARD CONTENT-->
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="#/tab/auth" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button class="button button-clear button-balanced" ng-click="signup()">
                    <h3 class="buttonAuth">{{ 'REGISTER' | translate }}</h3></button>
            </div>
            <!--END CARD FOOTER-->
        </form>
        <!--END CARD FRONT FACE-->
    </ion-content>
</ion-view>
