<ion-view>
    <ion-content scroll="false">
        <div class="box mood">
            <div class="card-header">{{ 'PLUSONE_MOOD_TITLE' | translate }}</div>
            <div class="card-content">
                <div class="radioWrap">
                    <h4>{{ 'HOW_IS_YOUR_MOOD?' | translate }}</h4>
                    <input type="radio" id="radio1" ng-model="mood.value" ng-value="1">
                    <label for="radio1">1</label>
                    <input type="radio" id="radio2" ng-model="mood.value" ng-value="2">
                    <label for="radio2">2</label>
                    <input type="radio" id="radio3" ng-model="mood.value" ng-value="3">
                    <label for="radio3">3</label>
                    <input type="radio" id="radio4" ng-model="mood.value" ng-value="4">
                    <label for="radio4">4</label>
                    <input type="radio" id="radio5" ng-model="mood.value" ng-value="5">
                    <label for="radio5">5</label>
                </div>
                <p>{{ 'PLUSONE_HELP_MOOD' | translate }}</p>
            </div>
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button ng-disabled="!mood.value" class="button button-clear button-balanced" ng-click="addMood()"><h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
