<ion-view>
    <ion-content scroll="false" class="slide-wrapper">
        <ion-slide-box show-pager="false" ng-if="class">
            <ion-slide ng-repeat="card in class.cards |orderBy:'weight'">
                <div class="box" ng-style="{background: class.color}">
                    <div class="card-header" ng-style="{color: card.textColor}">
                        {{card.title}}
                    </div>
                    <!--END CARD HEADER-->
                    <!--CARD CONTENT-->
                    <ion-scroll has-bouncing="false" class="card-content" ng-style="{color: card.textColor}">
                        <div ng-bind-html="trustAsHtml(card.content)" style="padding-bottom: 30px;"></div>
                    </ion-scroll>
                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <a href="#/tab/deck" class="button button-clear button-assertive ion-ios-close-empty"></a>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <!--END CARD FRONT FACE-->
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
