<ion-view>
    <ion-content scroll="false" class="slide-wrapper">
        <ion-slide-box show-pager="false" delegate-handle="chart-viewer">
            <ion-slide ng-repeat="chartview in charts">
                <div class="box charts">
                    <div class="card-header">{{chartview.date}}</div>
                    <!--END CARD HEADER-->
                    <!--CARD CONTENT-->
                    <div class="card-content">

                        <div class="chart-content">
                            <h2>Total Sleep: {{chartview.SleepTotal}}</h2>
                            <nvd3 options="sleepOptions" data="chartview.sleepChart.data"></nvd3>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4 style="color:#5C6BC0;"><i style="font-size:20px;" class="ion-ios-cloudy-night"></i> {{chartview.deepSleepTotal}}</h4></div>
                            <div class="col">
                                <h4 style="color:#5C6BC0;"><i style="font-size:20px;" class="ion-ios-cloudy-night-outline"></i> {{chartview.lightSleepTotal}} </h4></div>
                            <div class="col">
                                <h4 style="color:#8BC34A;"><i style="font-size:20px;" class="ion-eye"></i> {{chartview.awakeSleepTotal}}  </h4></div>
                        </div>

                        <div class="chart-content tests with-transitions">
                            <h2>{{ 'WEEK' | translate}}</h2>
                            <ion-spinner icon="lines" ng-show="!weekSleep"></ion-spinner>
                            <nvd3 options="weekSleepChartOptions" data="weekSleep"></nvd3>
                        </div>
                    </div>
                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <a href="#/tab/deck" class="button button-clear button-assertive ion-ios-close-empty"></a>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <!--END CARD FRONT FACE-->
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
