<ion-view class="history-wrapper">
    <ion-content>
        <div flip class="history-wrapper-inner">
            <div class="box history reminder">

                <div ng-click="formVisible = !formVisible" class="card-header">
                    <span ng-bind="('DIARY' | translate)"></span>

                    <i ui-sref="tab.deck" nav-direction="back" class="ion-arrow-left-a history-navigation-button-back"></i>

                    <button class="ion-android-download history-csv-export-button" ng-click="exportCSV()"></button>
                </div>

                <div class="history-filter-bar">
                    <button ng-repeat="filter in ::filters" class="history-filter-button history-icon-{{::filter.name}}" ng-class="{'active': filter.active}" ng-click="toggleFilter(filter)"></button>
                </div>

                <ion-scroll>
                    <ion-refresher on-refresh="initIntakes()" pulling-icon="ion-ios-arrow-thin-down" spinner="lines"></ion-refresher>
                    <div class="list list-inset florence-list stagger">

                        <div ng-repeat="remindersForDay in groupedIntakes | orderBy: '-reminderDate' | limitTo:'7'">

                            <div class="item item-divider" ng-bind="::remindersForDay.humanDate | translate"></div>

                            <p class="no-data-placeholder" ng-if="!remindersForDay.data.length">
                                <span ng-bind="::remindersForDay.text | translate"></span>
                            </p>

                            <div class="item" ng-show="reminderIntakes.intakes.length" ng-repeat="reminderIntakes in ::remindersForDay.data | orderBy:'-reminderTime'" ng-click="setActiveIntakes(reminderIntakes); showBackPanel();">

                                <span class="flex">
                          <i ng-hide="reminderIntakes.intakes[0].doc.isUnattended && reminderIntakes.intakes[0].doc.kind == 'Reminder'"
                            class="history-icon-{{::reminderIntakes.intakes[0].doc.kind}} history-icon">
                          </i>
                          <i ng-if="reminderIntakes.intakes[0].doc.isUnattended" class="ion-ios-bell assertive history-icon-unattended"></i>
                        <span ng-bind="::reminderIntakes.reminderTime.substring(0,5)"></span>
                                </span>

                                <span class="item-note" ng-show="reminderIntakes.intakes[0].doc.kind == 'Reminder'">
                          <span ng-bind="::reminderIntakes.takenIntakes.length"></span>/<span ng-bind="reminderIntakes.intakes.length"></span>
                                <span ng-bind="('TAKEN' | translate)"></span>
                                </span>

                                <span class="item-note" ng-show="reminderIntakes.intakes[0].doc.kind == 'Plusone'">
                            <span ng-bind="::reminderIntakes.intakes[0].doc.dosage"></span>
                                <span ng-bind="::reminderIntakes.intakes[0].doc.tradename.length > 20 ? reminderIntakes.intakes[0].doc.tradename.substring(0,20) + '...' : reminderIntakes.intakes[0].doc.tradename"></span>
                                </span>

                                <span class="item-note" ng-show="reminderIntakes.intakes[0].doc.kind == 'Mood'">
                              <span ng-bind="::reminderIntakes.intakes[0].doc.value"></span>
                                </span>

                                <span class="item-note" ng-show="reminderIntakes.intakes[0].doc.kind == 'Pain'">
                              <span ng-bind="::reminderIntakes.intakes[0].doc.value"></span>
                                </span>

                                <span class="item-note" ng-show="reminderIntakes.intakes[0].doc.kind == 'Note'">
                          <span ng-bind="::reminderIntakes.intakes[0].doc.value.substring(0,20)"></span>...
                                </span>
                            </div>
                        </div>

                    </div>

                </ion-scroll>

            </div>

            <div class="box history reminder">
                <div class="history-detail-inner" ng-include="'templates/template--history-reminder-edit.html'" ng-if="activeHistoryEntry.intakes[0].doc.kind == 'Reminder'"></div>
                <div class="history-detail-inner" ng-include="'templates/template--history-plusone-edit.html'" ng-if="activeHistoryEntry.intakes[0].doc.kind == 'Plusone'"></div>
                <div class="history-detail-inner" ng-include="'templates/template--history-note-edit.html'" ng-if="activeHistoryEntry.intakes[0].doc.kind == 'Note'"></div>
                <div class="history-detail-inner" ng-include="'templates/template--history-mood-edit.html'" ng-if="activeHistoryEntry.intakes[0].doc.kind == 'Mood'"></div>
                <div class="history-detail-inner" ng-include="'templates/template--history-pain-edit.html'" ng-if="activeHistoryEntry.intakes[0].doc.kind == 'Pain'"></div>
            </div>
        </div>

    </ion-content>
</ion-view>
