<ion-view>
    <ion-content scroll="false">
        <!--FLIP DIRECTIVE-->
        <div flip>
            <!--CARD FRONT FACE-->
            <div class="box system">
                <!--CARD HEADER-->
                <div class="card-header">{{ 'PROFILE' | translate }}</div>
                <!--END CARD HEADER-->
                <!--CARD CONTENT-->
                <ion-scroll class="card-content">
                    <div class="row">
                        <div class="col col-25"></div>
                        <div class="col col-50" style="float:left;">
                            <img class="avatar" ng-src="data:image/jpeg;base64,{{profile.avatar}}" ng-click="pictureSourcePopUp()" />
                        </div>
                        <div class="col col-25"></div>
                    </div>
                    <div class="list profile">
                        <div class="list profile text-wrapper">
                            <label class="item item-input">
                                <span class="input-label">{{ 'FIRST_NAME' | translate }}</span>
                                <input ng-model="profile.firstname" type="text" placeholder="{{profile.firstname}}" width="150%">
                              </label>
                            <label class="item item-input" style="float:left" ;>
                                <span class="input-label">{{ 'LAST_NAME' | translate }}</span>
                                <input ng-model="profile.lastname" type="text" placeholder="{{profile.lastname}}" width="150%">
                              </label>
                            <li class="item" style="float:left;">
                                <span class="input-label">{{ 'USERNAME' | translate }}</span>
                                <p>{{user.username}}</p>
                            </li>

                            <li class="item" style="float:right;">
                                <span class="input-label">{{ 'EMAIL' | translate }}</span>
                                <p ng-click="showBackPanel('emailAddress')">{{user.email}}</p>
                                <!--p>{{user.email}}<i class="ion-ios-compose-outline" style="float:right; font-size:30px;" ng-click="showBackPanel('profile')"-->
                            </li>

                            <li class="item" style="float:left;">
                                <span class="input-label">{{ 'PASSWORD' | translate }}</span>
                                <p ng-click="showBackPanel('password')">**********</p>
                                <!--p>{{user.email}}<i class="ion-ios-compose-outline" style="float:right; font-size:30px;" ng-click="showBackPanel('profile')"-->
                            </li>

                            <!-- <li>
                            <label class="item item-input ">
                            <span class="input-label">{{ 'DATE_OF_BIRTH' | translate }}</span>
                            <input ng-model="profile.birthdate" type="date" placeholder="{{profile.birthdate}}" width="200%">
                        </label>
                        </li> -->
                        </div>
                    </div>
                    <div class="radio-wrapper">
                        <span class="input-label">{{ 'GENDER' | translate }}</span>
                        <input type="radio" id="radioWoman" ng-model="profile.gender" value="woman">
                        <label for="radioWoman">{{ 'WOMAN' | translate }}</label>
                        <input type="radio" id="radioMan" ng-model="profile.gender" value="man">
                        <label for="radioMan">{{ 'MAN' | translate }}</label>
                    </div>
                    <div class="radio-wrapper">
                        <span class="input-label">{{ 'MEDICINE_DB' | translate }}</span>
                        <input type="radio" id="radioUS" ng-model="profile.medicineDB" value="us">
                        <label for="radioUS"> {{ 'US_NDC_DB' | translate }}</label>
                        <input type="radio" id="radioSE" ng-model="profile.medicineDB" value="se">
                        <label for="radioSE">{{ 'SE_NPL_DB' | translate }}</label>
                    </div>
                    <div class="tag-wrapper">
                        <span class="input-label">{{ 'INTERESTS' | translate }}</span>
                        <span ng-class="{'active': checkIfIsActive(tag)}" ng-click="toggleSelectTag(tag)" class="tag" ng-repeat="tag in availableTags">{{tag.name}}</span>
                    </div>
                    <div class="list profile text-wrapper">
                        <!-- <button class="col col-50 florence-button" ng-click="showBackPanel('password');">
                        {{ 'CHANGE_PASSWORD' | translate }}
                    </button> -->
                        <!-- <button class="col col-50 florence-button button-red" ng-click="logout()">
                        {{ 'LOGOUT' | translate }}
                    </button> -->
                    </div>
                    <i class="ion-android-exit" style="float:center; font-size:100px;color:#ef473a;" ng-click="logout()"></i>

                    <i class="ion-ios-compose-outline " style="float:right; font-size:30px;" ng-click="showBackPanel('profile')"></i>

                </ion-scroll>
                <!--END CARD CONTENT-->
                <!--CARD FOOTER
                <div class="button-bar card-footer">
                    <a href="#/tab/deck" class="button button-clear button-assertive ion-ios-close-empty"></a>
                </div>
                <!--END CARD FOOTER-->
                <!--CARD FOOTER-->
                <div class="button-bar card-footer">
                    <button class="button button-clear button-assertive" ng-click="back()">
                        <h3 class="buttonCancel">{{'CANCEL' | translate }}</h3></button>
                    <button class="button button-clear button-balanced" ng-click="saveProfile();back()">
                        <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
                </div>
                <!--END CARD FOOTER-->
            </div>
            <!--END CARD FRONT FACE-->
            <!--CARD BACK FACE-->
            <div class="box system">
                <div ng-if="template == 'profile'" class="flip-ng-if">
                    <!--CARD HEADER-->
                    <div class="card-header">{{ 'EDIT_PROFILE' | translate }}</div>
                    <!--CARD CONTENT-->
                    <ion-scroll class="card-content">
                        <div class="row" stlye="text-align:center;">
                            <div class="col col-25"></div>
                            <div class="col col-50"><img class="avatar" ng-src="data:image/jpeg;base64,{{profile.avatar}}" /></div>
                            <div class="col col-25"><i class="ion-ios-plus-outline" style="float:right; font-size:30px;" ng-click="pictureSourcePopUp()"></i></div>
                        </div>
                        <div class="text-wrapper">
                            <label class="item item-input">
                                <span class="input-label">{{ 'FIRST_NAME' | translate }}</span>
                                <input ng-model="profile.firstname" type="text" placeholder="{{profile.firstname}}">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">{{ 'LAST_NAME' | translate }}</span>
                                <input ng-model="profile.lastname" type="text" placeholder="{{profile.lastname}}">
                            </label>
                            <label class="item item-input ">
                                <span class="input-label">{{ 'DATE_OF_BIRTH' | translate }}</span>
                                <input ng-model="profile.birthdate" type="date" placeholder="{{profile.birthdate}}">
                            </label>
                            <!-- label class="item item-input" style="width: 25%;">
                                <span class="input-label">{{ 'HEIGHT' | translate }} (cm)</span>
                                <input ng-model="profile.height" type="tel" placeholder="{{profile.height}}">
                            </label -->
                            <!-- label class="item item-input" style="width: 25%;">
                                <span class="input-label">{{ 'WEIGHT' | translate }} (kg)</span>
                                <input ng-model="profile.weight" type="tel" placeholder="{{profile.weight}}">
                            </label-->
                        </div>
                        <div class="radio-wrapper">
                            <input type="radio" id="radioWoman" ng-model="profile.gender" value="woman">
                            <label for="radioWoman">{{ 'WOMAN' | translate }}</label>
                            <input type="radio" id="radioMan" ng-model="profile.gender" value="man">
                            <label for="radioMan">{{ 'MAN' | translate }}</label>
                        </div>
                        <div class="radio-wrapper">
                            <span class="input-label">{{ 'MEDICINE_DB' | translate }}</span>
                            <input type="radio" id="radioUS" ng-model="profile.medicineDB" value="us">
                            <label for="radioUS"> {{ 'US_NDC_DB' | translate }}</label>
                            <input type="radio" id="radioSE" ng-model="profile.medicineDB" value="se">
                            <label for="radioSE">{{ 'SE_NPL_DB' | translate }}</label>
                        </div>
                        <div class="tag-wrapper">
                            <span class="input-label">{{ 'INTERESTS' | translate }}</span>
                            <span ng-class="{'active': checkIfIsActive(tag)}" ng-click="toggleSelectTag(tag)" class="tag" ng-repeat="tag in availableTags">{{tag.name}}</span>
                        </div>
                    </ion-scroll>
                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
                            <h3 class="buttonCancel">{{'CANCEL' | translate }}</h3></button>
                        <button class="button button-clear button-balanced" ng-click="saveProfile();showFrontPanel()">
                            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <div ng-if="template == 'password'" class="flip-ng-if">
                    <div class="card-header">{{ 'CHANGE_PASSWORD' | translate }}</div>
                    <ion-scroll class="card-content">
                        <p>{{ 'PROFILE_HELP_CHANGE_PASSWORD' | translate }}</p>
                        <div class="input-wrapper">
                            <label class="item item-input">
                                <input type="{{currentIsText ? 'text': 'password'}}" placeholder="{{ 'PASSWORD-CURRENT' | translate }}" class="form-control" ng-model="changePasswordData.oldPassword">
                            </label>
                            <i class="ion-ios-eye" ng-click="currentIsText = !currentIsText"></i>
                        </div>
                        <div class="input-wrapper">
                            <label class="item item-input">
                                <input type="{{newIsText ? 'text': 'password'}}" placeholder="{{ 'PASSWORD-NEW' | translate }}" class="form-control" ng-model="changePasswordData.newPassword">
                            </label>
                            <i class="ion-ios-eye" ng-click="newIsText = !newIsText"></i>
                        </div>
                        <div class="input-wrapper">
                            <label class="item item-input">
                                <input type="{{newRepIsText ? 'text': 'password'}}" placeholder="{{ 'PASSWORD-REPEAT' | translate }}" class="form-control" ng-model="changePasswordData.newPasswordRepeat">
                            </label>
                            <i class="ion-ios-eye" ng-click="newRepIsText = !newRepIsText"></i>
                        </div>
                        <div class="alert alert-success" ng-show="changePasswordMessage">
                            {{ changePasswordMessage | translate }}
                        </div>
                    </ion-scroll>
                    <div class="button-bar card-footer">
                        <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
                            <h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3>
                        </button>
                        <button class="button button-clear button-balanced" ng-click="changePassword(changePasswordData);">
                            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3>
                        </button>
                    </div>
                </div>
                <div ng-if="template == 'emailAddress'" class="flip-ng-if">
                    <div class="card-header">{{ 'CHANGE_EMAIL' | translate }}</div>
                    <ion-scroll class="card-content">
                        <p>{{ 'PROFILE_HELP_CHANGE_EMAIL' | translate }}</p>
                        <p><strong>{{ 'CURRENT_EMAIL' | translate }}: </strong>{{user.email}}</p>
                        <div class="input-wrapper">
                            <label class="item item-input">
                                <i class="icon ion-ios-email placeholder-icon"></i>
                                <input type="text" placeholder="{{ 'NEW_EMAIL' | translate }}" class="form-control" ng-model="newEmail.emailAddress">
                            </label>
                        </div>
                        <div class="alert alert-success" ng-show="changeEmailMessage">
                            {{changeEmailMessage | translate}}
                        </div>
                    </ion-scroll>
                    <div class="button-bar card-footer">
                        <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
                            <h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3>
                        </button>
                        <button class="button button-clear button-balanced" ng-click="changeEmailAddress(newEmail);">
                            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3>
                        </button>
                    </div>
                </div>
            </div>
            <!--END CARD BACK FACE-->
        </div>
        <!--END FLIP DIRECTIVE-->
    </ion-content>
</ion-view>
n-view>
