<ion-view>
    <ion-content scroll="false">
        <div class="box plusone">
            <!--CARD HEADER-->
            <div class="row">
                <div class="col col-20">
                    <button class="ion-ios-trash cardDeleteButton" ng-click="deleteConfirmPopUp()"></button>
                </div>
                <div class="col">
                    <div class="card-header">{{ 'PLUSCARD' | translate }}</div>
                </div>
                <div class="col col-20"></div>
            </div>
            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <ion-scroll class="card-content">
                <h4 class="plusOneHeader">{{plusone.tradename}}</h4>
                <h4>{{plusone.organization}}</h4>
                <h4>{{plusone.pharmaceutical_form_group_name}} {{plusone.strength_group_name}}</h4>
                <p style="text-align:center;">{{ 'PLUSONE_HELP_MEDICINE_INTAKE_ADD' | translate }}</p>
                <div class="plusDosage stagger">
                    <label ng-repeat="Ndosage in Ndosages">
                        <input type="checkbox" ng-change="setDose(Ndosage)" ng-model="Ndosage.sel">
                        <span>{{Ndosage.val}}</span>
                    </label>
                </div>
            </ion-scroll>
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button class="button button-clear button-balanced" ng-click="addIntake()">
                    <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
            </div>
            <!--END CARD FOOTER-->
        </div>
        </div>
    </ion-content>
</ion-view>
