<ion-view>
    <ion-content scroll="false" class="slide-wrapper">
        <ion-slide-box show-pager="false" delegate-handle="chart-viewer">
            <ion-slide ng-repeat="chartview in charts">
                <div class="box charts">
                    <div class="card-header">{{::chartview.date}}
                    </div>
                    <!--END CARD HEADER-->
                    <!--CARD CONTENT-->
                    <ion-scroll class="card-content">

                        <div class="chart-content medication with-transitions">
                            <h2>{{ ::'MEDICATION' | translate }}
                                <i style="float:right;font-size:25px;color:#4CAF50;" class="ion-ios-information-outline" ng-click="medicationGraphPopup()"></i>
                            </h2>
                            <ion-spinner icon="lines" ng-show="!chartview.intakesChart.data"></ion-spinner>
                            <nvd3 options="intakesOptions" data="chartview.intakesChart.data"></nvd3>
                        </div>

                        <div class="chart-content medication with-transitions">
                            <h2>{{ ::'Påminnelse Översikt' | translate }}
                                <i style="float:right;font-size:25px;color:#4CAF50;" class="ion-ios-information-outline" ng-click="adhearGraphPopup()"></i>
                            </h2>
                            <ion-spinner icon="lines" ng-show="!adhearanceChart"></ion-spinner>
                            <nvd3 options="adhearOptions" data="adhearanceChart"></nvd3>
                        </div>

                    </ion-scroll>

                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <a href="#/tab/deck" class="button button-clear button-assertive  ion-ios-close-empty"></a>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <!--END CARD FRONT FACE-->
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
