<ion-view>
    <ion-content scroll="false">
        <!--CARD FRONT FACE-->
        <div class="box tap-test">
            <!--CARD HEADER-->
            <div class="card-header">{{ ::'FINGER_TAP' | translate }}</div>
            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <div class="card-content">
                <div class="tapHandButton stagger" ng-disabled="doneState">
                    <span ng-class="{'active': Lhand}" ng-click="setLeftHand()"><i class="icon ion-android-hand"></i></span>
                    <span ng-class="{'active': Rhand}" class="rightHand" ng-click="setRighHand()"><i class="icon ion-android-hand"></i></span>
                </div>
                <h3 class="tap-testCommunication">{{comunicate}}</h3>
                <div class="tapContainer" ng-click="logTap()">

                    <div round-progress max="progressMax" current="progress" color="#fff" bgcolor="rgba(255,255,255,0.3)" radius="80" stroke="8" clockwise="false" iterations="50" animation="easeInOutQuart">
                    </div>

                    <div class="circle">
                        <i ng-class="{'icon ion-play': readyState, icon: tapState, 'icon ion-thumbsup': waitState}"></i>
                    </div>

                </div>
                <canvas ng-show='graph' id="line" class="chart chart-line" options="options" colours="colours" data="data" labels="labels" height="70px"></canvas>
            </div>
            <!--END CARD CONTENT-->
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a ng-click="close()" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ ::'CANCEL' | translate }}</h3></a>
                <a ng-disabled="!doneState" class="button button-clear button-balanced" ng-click="saveSession()"><h3 class="buttonSave">{{ ::'SAVE' | translate }}</h3></a>
            </div>
            <!--END CARD FOOTER-->
        </div>
        <!--END CARD FRONT FACE-->
    </ion-content>
</ion-view>
