<ion-view>
    <ion-content scroll="true">

        <!--CARD FRONT FACE-->
        <div class="box reminder">
            <!--CARD HEADER-->

            <!--<div class="card-header">{{ 'REMINDER' | translate }}</div>-->

            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <div class="row">
                <div class="col col-20">
                    <button class="ion-ios-trash cardDeleteButton" ng-click="deleteConfirmPopUp()" ng-if="deleteShow"></button>
                </div>
                <div class="col">

                    <div class="row reminderTime">
                        <input type="tel" class="col reminderHour" ng-model="reminder.hour" ng-change="changeTime('hour')" ng-click="clearField('hour')" ng-blur="blankReplace('hour')" />
                        <span class="col col-10 reminderColon">:</span>
                        <input type="tel" class="col reminderMinute" ng-model="reminder.minute" ng-change="changeTime('minute')" ng-click="clearField('minute')" ng-blur="blankReplace('minute')" />
                    </div>

                </div>
                <div class="col col-20">
                    <button class="ion-ios-plus-empty cardDeleteButton" ng-click="addAnother()" ng-if="addMore"></button>
                </div>
            </div>
            <div class="week-days edit stagger" style="margin-right:10px;">
                <label style="margin-right:10px;">
        <input type="checkbox" ng-model="allDays.enabled" ng-click="selectDay('all',allDays.enabled)" ng-checked="{{enabled}}"><span><i class="ion-ios-calendar"></i></span>
      </label>
                <label ng-repeat="(day, enabled) in reminder.dayOfWeek">
        <input type="checkbox" ng-model="reminder.dayOfWeek[day]" ng-click="selectDay(day,enabled)" ng-checked="{{enabled}}"><span>{{day | dayName  | translate | limitTo:1 }}</span>
      </label>
            </div>

            <ion-scroll class="card-content">

                <!--SEARCH & ADD MEDICATION-->
                <div angucomplete-alt ng-show="showSearch" class="medication-search stagger" id="medication" placeholder="{{ 'SEARCH_MEDICATION' | translate }}" pause="400" selected-object="selectedMedicine" local-data="db" search-fields="" title-field="tradename,strength_group_name,pharmaceutical_form_group_name,organization"
                    minlength="3" input-class="form-control" match-class="highlight" clear-selected="true" focus-in="" focus-out="">
                </div>

                <div class="list">
                    <ion-item class="medication-preview" ng-show="medicine" ng-click="addMedicine()">
                        <div>
                            <div class="tradename">
                                {{medicine.tradename}}
                            </div>
                            <div class="strength">
                                {{medicine.pharmaceutical_form_group_name}} {{medicine.strength_group_name}}
                            </div>
                        </div>
                        <div>
                            <div class="organization">
                                {{medicine.organization}}
                            </div>
                            <div class="dosage">
                                {{ 'DOSAGE' | translate }}: {{medicine.dosage}}
                            </div>
                        </div>
                        <ion-option-button class="button button-clear button-light" ng-click="editMedicine(medicine); showBackPanel('medicine');"><i class="icon ion-edit"></i>
                        </ion-option-button>

                        <ion-option-button class="button button-clear button-light" ng-click="deleteMedicine(medicine)"><i class="icon ion-minus-circled"></i>
                        </ion-option-button>
                    </ion-item>
                </div>

                <ion-list ng-show="medicine" class="dosageSelectList stagger">
                    <ion-item ng-click="showDosage()" class="item-icon-right dosageSelect"><i class="icon ion-ios-arrow-down"></i> {{ 'DOSAGE' | translate }}: {{dosage}}
                    </ion-item>
                    <ion-item ng-repeat="dosage in dosagesMenu" ng-click="selectDosage(dosage)" class="dosageSelect">
                        {{dosage}}
                    </ion-item>

                </ion-list>


                <ion-list can-swipe="true" ng-show="!medicine">
                    <ion-item class="medication-preview" ng-repeat="medicine in reminder.medicines" item="{{medicine.nplid}}">
                        <div>
                            <div class="tradename">
                                {{medicine.tradename}}
                            </div>
                            <div class="strength">
                                {{medicine.pharmaceutical_form_group_name}} {{medicine.strength_group_name}}
                            </div>
                        </div>
                        <div>
                            <div class="organization">
                                {{medicine.organization}}
                            </div>
                            <div class="dosage">
                                {{ 'DOSAGE' | translate }}: {{medicine.dosage}}
                            </div>
                        </div>
                        <ion-option-button class="button button-clear" ng-click="reminder.medicines.splice($index, 1);saveCardButton();"><i class="icon ion-minus-circled"></i>
                        </ion-option-button>
                    </ion-item>
                </ion-list>


            </ion-scroll>

            <!--END CARD CONTENT-->
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button ng-if="addButton" class="button button-clear button-balanced" ng-click="addMedicine()"><h3 class="buttonSave">{{ 'ADDTOLIST' | translate }}</h3></button>
                <button ng-if="!addButton" ng-disabled="saveButton" class="button button-clear button-balanced" ng-click="addReminder()"><h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
            </div>
            <!--END CARD FOOTER-->
        </div>
        <!--END CARD FRONT FACE-->

    </ion-content>
</ion-view>
