<ion-view>
    <ion-content scroll="false">
        <div class="box food">
            <div ng-show="showDrinks" class="card-header">{{'DRINKS' | translate}}</div>
            <div ng-show="showFood" class="card-header">{{'FOOD' | translate}}</div>


            <div>
                <button ng-click="showDrinks = true; showFood = false;" ng-class="{'active': showDrinks}" class="button roundButton ion-waterdrop"></button>
                <div style="width:1px; height:50px; background:#fff; display:inline-block;"></div>
                <button ng-click="showDrinks = false; showFood = true;" ng-class="{'active': showFood}" class="button roundButton ion-android-restaurant"></button>
            </div>
            <br>
            <ion-scroll class="scroll">
                <div ng-if="showDrinks" class="stagger">
                    <h3>{{mils}} cl</h3>
                    <div class="list stagger">
                        <div class="item range noBackground range-positive">
                            <i class="icon ion-ios-pint-outline"></i>
                            <input type="range" name="volume" ng-model="mils" min="10" max="50" value="33">
                            <i class="icon ion-ios-pint"></i>
                        </div>
                    </div>

                    <button ng-repeat="drink in Drinks" ng-click="offAll(); drink.sel = !drink.sel;" ng-class="{'active': drink.sel}" class="button smallroundButton">{{drink.name}}</button>
                </div>

                <div ng-show="showFood">

                    <div style="margin:auto; margin-top:60px; width:100px; position:absolute; right:0; left:0;">
                        <div ng-repeat="i in graphdata" style="position:absolute; left:0; right:0; top:0; bottom:0;" round-progress max="100" current="i.y" color="{{i.color}}" bgcolor="rgba(255,255,255,1)" radius="{{i.radius}}" stroke="10" semi="false" rounded="true" clockwise="true"
                            iterations="50" animation="easeInOutQuart"></div>
                    </div>

                    <br>

                    <div style="margin-top:100px;">
                        <button ng-click="showDrinks = true; showFood = false;" ng-class="{'active': showDrinks}" class="button roundButton">S</button>
                        <button ng-click="showDrinks = false; showFood = true;" ng-class="{'active': showFood}" class="button roundButton">M</button>
                    </div>

                    <div class="list stagger" style="width:100%; padding:10px;">
                        <label class="item item-input" style="border:none; margin:1px;">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="Food Name" ng-model="foodName">
                            </label>
                        <label class="item item-input" style="border:none; margin:1px;" ng-if="foodName">
                                <span class="input-label">Protein</span>
                                <input type="tel" placeholder="{{graphdata[0].y}}" ng-model="prot" ng-blur="graphdata[0].y = prot;">
                            </label>
                        <label class="item item-input" style="border:none; margin:1px;" ng-if="foodName">
                                <span class="input-label">Carbohydrates</span>
                                <input type="tel" placeholder="{{graphdata[1].y}}" ng-model="carb" ng-blur="graphdata[1].y = carb;">
                            </label>
                        <label class="item item-input" style="border:none; margin:1px;" ng-if="foodName">
                                <span class="input-label">Fat</span>
                                <input type="tel" placeholder="{{graphdata[2].y}}" ng-model="fat" ng-blur="graphdata[2].y = fat;">
                            </label>
                    </div>



                </div>


            </ion-scroll>
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive"><h3 class="buttonCancel">{{'CANCEL' | translate}}</h3></a>
                <button class="button button-clear button-balanced" ng-click="back()"><h3 class="buttonSave">{{'SAVE' | translate}}</h3></button>
            </div>

        </div>

    </ion-content>
</ion-view>
