<ion-view>
    <ion-content scroll="false" class="slide-wrapper">
        <ion-slide-box show-pager="false" delegate-handle="chart-viewer">
            <ion-slide ng-repeat="chartview in charts">
                <div class="box charts">
                    <div class="card-header">
                        <h2 class="chartHeader">{{::chartview.date}}</h2>
                        <!--<div class="row">
                            <div class="col"></div>
                            <div class="col col-50">
                                <h2>{{chartview.date}}</h2>
                            </div>
                            <div class="col"><i class="icon ion-ios-star-outline"></i>
                            </div>
                        </div>-->
                    </div>
                    <!--END CARD HEADER-->
                    <!--CARD CONTENT-->
                    <div class="card-content">
                        <div class="chart-content activity">
                            <h3>{{ ::'ACTIVITY' | translate }}</h3>
                            <ion-spinner icon="lines" ng-show="!chartview.activityChart.data"></ion-spinner>
                            <nvd3 options="activityOptions" data="chartview.activityChart.data"></nvd3>
                        </div>
                        <div class="chart-content sleep">
                            <h3>{{ ::'SLEEP' | translate }}</h3>
                            <ion-spinner icon="lines" ng-show="!chartview.sleepChart.data"></ion-spinner>
                            <nvd3 options="sleepOptions" data="chartview.sleepChart.data"></nvd3>
                        </div>
                    </div>
                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <a href="#/tab/deck" class="button button-clear button-assertive  ion-ios-close-empty"></a>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <!--END CARD FRONT FACE-->
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
