<ion-view>
    <ion-content scroll="false">
        <div class="box system">
            <div class="card-header">{{ 'CONTACT' | translate}}</div>
            <ion-scroll class="card-content" has-bouncing="false">
                <h4>{{'THANK_YOU_WELCOME_TITLE' | translate}}</h4>
                <p>{{'THANK_YOU_WELCOME_TEXT' | translate}}</p>
                <br/>
                <h4>{{'WHAT_DO_YOU_THINK_TITLE' | translate}}</h4>
                <p>{{'WHAT_DO_YOU_THINK_TEXT_1' | translate}}
                    <button class="button send-button" ng-click="sendFeedback()"> {{ 'SEND' | translate}}
                    </button> {{'WHAT_DO_YOU_THINK_TEXT_2' | translate}}
                </p>
                <br/>
                <h4>{{'WHO_CREATED_FLORENCE_TITLE' | translate}}</h4>
                <p>{{'WHO_CREATED_FLORENCE_TEXT' | translate}}</p>
                <p>{{'MORE_INFO_TEXT' | translate}} <a href="#" onclick="window.open('http://www.nervelabs.se', '_system');">http://www.nervelabs.se</a></p>
                <p class="center">{{ 'VERSION' | translate}} {{version}} - {{ 'BUILD' | translate}} {{build}}</p>
                <p class="center">{{'MADE_IN_TEXT' | translate}}</p>
            </ion-scroll>
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive ion-ios-close-empty"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
