<ion-view>
    <ion-content scroll="false">
        <div class="box note">
            <div class="card-header">{{ 'NOTE' | translate }}</div>
            <div class="card-content">
                <h4>{{ 'WASSAP?' | translate }}</h4>
                <label class="item item-input">
                    <textarea rows="10" cols="8" ng-model="note.value" ng-change="onNoteChange()" maxlength="400" ng-trim="true">
                    </textarea>
                </label>
                <p>{{ 'PLUSONE_HELP_NOTE' | translate }}</p>
            </div>
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive"><h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button ng-disabled="!note.value" class="button button-clear button-balanced" ng-click="addNote()">
                    <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
