<ion-view>
    <ion-content scroll="false">
        <div class="box plusone">
            <!--CARD HEADER-->
            <div class="card-header">{{ 'PLUSCARD' | translate }}</div>
            <!--END CARD HEADER-->
            <!--CARD CONTENT-->
            <ion-scroll class="card-content">
                <p>{{ 'PLUSONE_HELP_MEDICINE_CHOOSE' | translate }}</p>
                <!--SEARCH & ADD MEDICATION-->
                <div class="list stagger">
                    <div angucomplete-alt class="medication-search" id="medication" placeholder="{{ 'SEARCH_MEDICATION' | translate }}" pause="400" selected-object="selectedMedicine" local-data="db" search-fields="" title-field="tradename,strength_group_name,pharmaceutical_form_group_name,organization"
                        minlength="3" input-class="form-control" match-class="plusonehighlight" clear-selected="true" focus-in="" focus-out="">
                    </div>
                </div>
                </ion-list>
                <ion-list can-swipe="true">
                    <ion-item class="plusone-preview" ng-show="plusonePrev">
                        <div>
                            <div class="tradename">
                                {{plusone.tradename}}
                            </div>
                            <div class="strength">
                                {{plusone.pharmaceutical_form_group_name}} {{plusone.strength_group_name}}
                            </div>
                        </div>
                        <div>
                            <div class="organization">
                                {{plusone.organization}}
                            </div>
                        </div>
                        <ion-option-button class="button button-clear" ng-click="removePlusOne()"><i class="icon ion-minus-circled"></i>
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-scroll>
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="#/tab/deck" class="button button-clear button-assertive">
                    <h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3></a>
                <button ng-disabled="!plusone" class="button button-clear button-balanced" ng-click="addPlusOne()">
                    <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
            </div>
            <!--END CARD FOOTER-->
        </div>
        </div>
    </ion-content>
</ion-view>
