<ion-view>
  <ion-content scroll="false">
    <!--FLIP DIRECTIVE-->
    <div flip>
      <!--CARD FRONT FACE-->
      <div class="box system">
        <!--CARD HEADER-->
        <div class="card-header">{{ 'PROFILE' | translate }}</div>
        <!--END CARD HEADER-->
        <!--CARD CONTENT-->
        <ion-scroll class="card-content" style="padding:0px;">
          <!-- AVATAR -->
          <div class="row" style="background-color:#00d4ef; margin-bottom:16px;">
            <div class="col col-25">
              <i class="avatar-side icon-camera" ng-click="getPhoto('CAMERA')"></i>
            </div>
            <div class="col col-50">
              <img class="avatar" ng-src="data:image/jpeg;base64,{{profile.avatar}}" />
              <p class="avatar-caption" style="margin-bottom:0px;">{{user.username}}</p>
            </div>
            <div class="col col-25">
              <i class="avatar-side ion-ios-photos-outline" ng-click="getPhoto('PHOTOLIBRARY')"></i>
            </div>
          </div>
          <!-- END AVATAR -->
          <!-- PROFILE LIST -->
          <div class="list profile" style="padding-left: 10px; padding-right: 10px;">
            <li class="item" ng-click="showBackPanel('name')">
              <a class="profile-icon icon-name"></a>
              <span class="input-label">{{ 'NAME' | translate }}</span>
              <p>{{profile.firstname}}&nbsp;&nbsp;{{profile.lastname}}</p>
            </li>
            <hr class="style-two">
            <li class="item" ng-click="showBackPanel('emailAddress')">
              <a class="profile-icon icon-email"></a>
              <span class="input-label">{{ 'EMAIL' | translate }}</span>
              <p>{{user.email}}</p>
            </li>
            <hr class="style-two">
            <li class="item" ng-click="showBackPanel('password')">
              <a class="profile-icon icon-password"></a>
              <span class="input-label">{{ 'PASSWORD' | translate }}</span>
              <p>************</p>
            </li>
            <hr class="style-two">
            <li class="item" ng-click="showBackPanel('medication')">
              <a class="profile-icon icon-medication"></a>
              <span class="input-label">{{ 'MEDICINE_DB' | translate }}</span>
              <p style="text-transform: uppercase;">{{profile.medicineDB}}</p>
            </li>
            <hr class="style-two">
            <li class="item" ng-click="showBackPanel('tags')">
              <a class="profile-icon icon-tag"></a>
              <span class="input-label">{{ 'TAGS' | translate }}</span>
              <span style="float:left;" ng-repeat="tag in profile.tags">{{tag.name}}&nbsp;&nbsp;</span>
            </li>
            <hr class="style-two">
            <li class="item" ng-click="showBackPanel('logoutConfirm')">
              <a class="profile-icon icon-logout"></a>
              <p style="margin-top:12px;">{{ 'LOGOUT' | translate }}</p>
            </li>
          </div>
        </ion-scroll>
        <!--END CARD CONTENT-->
        <!--CARD FOOTER-->
        <div class="button-bar card-footer">
          <a href="#/tab/deck" class="button button-clear button-assertive ion-ios-close-empty"></a>
        </div>
        <!--END CARD FOOTER-->
      </div>
      <!--END CARD FRONT FACE-->

      <!----------------------------------------------------------------------->
      <!----------------------------------------------------------------------->
      <!----------------------------------------------------------------------->

      <!--CARD BACK FACE-->
      <div class="box system">
        <div ng-if="template == 'name'" class="flip-ng-if">
          <!--CARD HEADER-->
          <div class="card-header">
            <a class="profile-icon-title icon-name"></a>{{ 'NAME' | translate }}</div>
          <!--CARD CONTENT-->
          <ion-scroll class="card-content">
            <div class="text-wrapper">
              <p>{{ 'EDIT_NAME' | translate }}</p>
              <label class="item item-input">
                <span class="input-label">{{ 'FIRST_NAME' | translate }}</span>
                <input ng-model="profile.firstname" type="text" placeholder="{{profile.firstname}}">
              </label>
              <label class="item item-input">
                <span class="input-label">{{ 'LAST_NAME' | translate }}</span>
                <input ng-model="profile.lastname" type="text" placeholder="{{profile.lastname}}">
              </label>
            </div>
          </ion-scroll>
          <!--END CARD CONTENT-->
          <!--CARD FOOTER-->
          <div class="button-bar card-footer">
            <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
            <h3 class="buttonCancel">{{'CANCEL' | translate }}</h3></button>
            <button class="button button-clear button-balanced" ng-click="saveProfile();showFrontPanel()">
            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
          </div>
          <!--END CARD FOOTER-->
        </div>

        <div ng-if="template == 'emailAddress'" class="flip-ng-if">
          <div class="card-header">
            <a class="profile-icon-title icon-email"></a>{{ 'CHANGE_EMAIL' | translate }}</div>
          <ion-scroll class="card-content">
            <p>{{ 'PROFILE_HELP_CHANGE_EMAIL' | translate }}</p>
            <p><strong>{{ 'CURRENT_EMAIL' | translate }}: </strong>{{user.email}}</p>
            <div class="input-wrapper">
              <label class="item item-input">
               <i class="icon ion-ios-email placeholder-icon"></i>
               <input type="text" placeholder="{{ 'NEW_EMAIL' | translate }}" class="form-control" ng-model="newEmail.emailAddress">
              </label>
            </div>
            <div class="alert alert-success" ng-show="changeEmailMessage">
              {{changeEmailMessage | translate}}
            </div>
          </ion-scroll>
          <div class="button-bar card-footer">
            <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
            <h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3>
            </button>
            <button class="button button-clear button-balanced" ng-click="changeEmailAddress(newEmail);">
            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3>
            </button>
          </div>
        </div>

        <div ng-if="template == 'password'" class="flip-ng-if">
          <div class="card-header">
            <a class="profile-icon-title icon-password"></a>{{ 'CHANGE_PASSWORD' | translate }}</div>
          <ion-scroll class="card-content">
            <p>{{ 'PROFILE_HELP_CHANGE_PASSWORD' | translate }}</p>
            <div class="input-wrapper">
              <label class="item item-input">
              <input type="{{currentIsText ? 'text': 'password'}}" placeholder="{{ 'PASSWORD-CURRENT' | translate }}" class="form-control" ng-model="changePasswordData.oldPassword">
              </label>
              <i class="ion-ios-eye" ng-click="currentIsText = !currentIsText"></i>
            </div>
            <div class="input-wrapper">
              <label class="item item-input">
              <input type="{{newIsText ? 'text': 'password'}}" placeholder="{{ 'PASSWORD-NEW' | translate }}" class="form-control" ng-model="changePasswordData.newPassword">
              </label>
              <i class="ion-ios-eye" ng-click="newIsText = !newIsText"></i>
            </div>
            <div class="input-wrapper">
              <label class="item item-input">
              <input type="{{newRepIsText ? 'text': 'password'}}" placeholder="{{ 'PASSWORD-REPEAT' | translate }}" class="form-control" ng-model="changePasswordData.newPasswordRepeat">
              </label>
              <i class="ion-ios-eye" ng-click="newRepIsText = !newRepIsText"></i>
            </div>
            <div class="alert alert-success" ng-show="changePasswordMessage">
              {{ changePasswordMessage | translate }}
            </div>
          </ion-scroll>
          <div class="button-bar card-footer">
            <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
             <h3 class="buttonCancel">{{ 'CANCEL' | translate }}</h3>
             </button>
            <button class="button button-clear button-balanced" ng-click="changePassword(changePasswordData);">
             <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3>
             </button>
          </div>
        </div>

        <div ng-if="template == 'medication'" class="flip-ng-if">
          <!--CARD HEADER-->
          <div class="card-header">
            <a class="profile-icon-title icon-medication"></a>{{ 'MEDICATION_DATABASE_CHANGE' | translate }}</div>
          <!--CARD CONTENT-->
          <ion-scroll class="card-content">
            <p>{{ 'MEDICATION_DATABASE_CHANGE_TEXT' | translate }}</p>
            <div class="radio-wrapper">
              <span class="input-label">{{ 'MEDICINE_DB' | translate }}</span>
              <input type="radio" id="radioUS" ng-model="profile.medicineDB" value="us">
              <label for="radioUS"> {{ 'US_NDC_DB' | translate }}</label>
              <input type="radio" id="radioSE" ng-model="profile.medicineDB" value="se">
              <label for="radioSE">{{ 'SE_NPL_DB' | translate }}</label>
            </div>
          </ion-scroll>
          <!--END CARD CONTENT-->
          <!--CARD FOOTER-->
          <div class="button-bar card-footer">
            <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
            <h3 class="buttonCancel">{{'CANCEL' | translate }}</h3></button>
            <button class="button button-clear button-balanced" ng-click="saveProfile();showFrontPanel()">
            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
          </div>
          <!--END CARD FOOTER-->
        </div>

        <div ng-if="template == 'tags'" class="flip-ng-if">
          <!--CARD HEADER-->
          <div class="card-header">
            <a class="profile-icon-title icon-tag"></a>{{ 'TAGS' | translate }}</div>
          <!--CARD CONTENT-->
          <ion-scroll class="card-content">
            <p>{{ 'PROFILE_SELECT_TAGS' | translate }}</p>
            <div class="tag-wrapper">
              <span class="input-label">{{ 'TAGS' | translate }}</span>
              <span ng-class="{'active': checkIfIsActive(tag)}" ng-click="toggleSelectTag(tag)" class="tag" ng-repeat="tag in availableTags | orderBy:'name'" style="border-radius: 8px;">{{tag.name}}</span>
            </div>
          </ion-scroll>
          <!--END CARD CONTENT-->
          <!--CARD FOOTER-->
          <div class="button-bar card-footer">
            <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
            <h3 class="buttonCancel">{{'CANCEL' | translate }}</h3></button>
            <button class="button button-clear button-balanced" ng-click="saveProfile();showFrontPanel()">
            <h3 class="buttonSave">{{ 'SAVE' | translate }}</h3></button>
          </div>
          <!--END CARD FOOTER-->
        </div>
        <div ng-if="template == 'logoutConfirm'" class="flip-ng-if">
          <!--CARD HEADER-->
          <div class="card-header">
            <a class="profile-icon-title icon-logout"></a>{{ 'LOGOUT' | translate }}</div>
          <!--CARD CONTENT-->
          <ion-scroll class="card-content">
            <p>
              <p>{{ 'LOGOUT_CONFIRMATION' | translate }}</p>
            </p>
          </ion-scroll>
          <!--END CARD CONTENT-->
          <!--CARD FOOTER-->
          <div class="button-bar card-footer">
            <button class="button button-clear button-assertive" ng-click="showFrontPanel()">
            <h3 class="buttonCancel">{{'CANCEL' | translate }}</h3></button>
            <button class="button button-clear button-balanced" ng-click="logout()">
            <h3 class="buttonSave">{{ 'LOGOUT' | translate }}</h3></button>
          </div>
          <!--END CARD FOOTER-->
        </div>

      </div>
      <!--END CARD BACK FACE-->
    </div>
    <!--END FLIP DIRECTIVE-->
  </ion-content>
</ion-view>
n-view>
