<ion-view>
    <ion-content scroll="false" class="slide-wrapper">
        <ion-slide-box show-pager="false" delegate-handle="chart-viewer">
            <ion-slide ng-repeat="chartview in charts">
                <div class="box charts">
                    <div class="card-header">
                        <h2 class="chartHeader">{{:: chartview.date}}</h2>

                    </div>
                    <!--END CARD HEADER-->
                    <!--CARD CONTENT-->
                    <div class="card-content">
                        <div class="chart-content activity">
                            <h3>{{ ::'ACTIVITY' | translate }}</h3>
                            <ion-spinner icon="lines" ng-show="!chartview.activityChart.data"></ion-spinner>
                            <nvd3 options="activityOptions" data="chartview.activityChart.data"></nvd3>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h3 style="color:#ffc107">{{ chartview.distance}} <i style="font-size:18px;">km</i></h3></div>
                            <div class="col">
                                <h3 style="color:#ffc107">{{ chartview.calories}} <i style="font-size:18px;" class="ion-fireball"></i> </h3></div>
                            <div class="col">
                                <h3 style="color:#ffc107">{{ chartview.steps}} <i style="font-size:18px;" class="ion-android-walk"></i> </h3></div>
                        </div>
                        <br>

                        <h4 style="color:#000; font-size:20px; margin-top:-20px;">{{ 'WEEK' | translate}}
                            <!--<i style="float:right;font-size:25px;color:#9C27B0;" class="ion-ios-information-outline" ng-click="tapAverageGraphPopup()"></i>-->
                        </h4>

                        <div id="chart" class="chart-content tests with-transitions">
                            <ion-spinner icon="lines" ng-show="!aveActivityChart"></ion-spinner>
                            <nvd3 options="averageActivityChartOptions" data="aveActivityChart"></nvd3>
                        </div>

                    </div>
                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <a href="#/tab/deck" class="button button-clear button-assertive  ion-ios-close-empty"></a>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <!--END CARD FRONT FACE-->
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
