<ion-view>
    <ion-content scroll="false" class="slide-wrapper">
        <ion-slide-box show-pager="false" delegate-handle="chart-viewer">
            <ion-slide ng-repeat="chartview in charts">
                <div class="box charts">
                    <div class="card-header">{{chartview.date}}
                    </div>
                    <!--END CARD HEADER-->
                    <!--CARD CONTENT-->
                    <ion-scroll class="card-content">
                        <div class="chart-content tests with-transitions">
                            <h2><i style="float:right;font-size:25px;color:#9C27B0;" class="ion-ios-information-outline" ng-click="tapsGraphPopup()"></i></h2>
                            <ion-spinner icon="lines" ng-show="!chartview.fingerTapChart.data"></ion-spinner>
                            <nvd3 options="fingerTapChartOptions" data="chartview.fingerTapChart.data"></nvd3>
                        </div>
                        <div class="chart-content tests with-transitions">
                            <h2>{{ 'WEEK' | translate}}
                            <i style="float:right;font-size:25px;color:#9C27B0;" class="ion-ios-information-outline" ng-click="tapAverageGraphPopup()"></i></h2>
                            <div class="row">
                                <div class="col-22" style="width:24%; height:25px; background-color:#FF9800; color:#fff;float:left;">
                                    <p style="line-height:25px;text-align:center;font-weight:bold;font-size:14px;">H {{highLeft}}</p>
                                </div>
                                <div class="col-22" style="width:24%; height:25px; background-color:#FFE0B2; color:#E65100;float:left;">
                                    <p style="line-height:25px;text-align:center;font-weight:bold;font-size:14px;">L {{lowLeft}}</p>
                                </div>
                                <div class="col-12" style="width:5px; height:25px; background-color:#fff; color:#fff;float:left;"></div>
                                <div class="col-22" style="width:24%; height:25px; background-color:#CE93D8; color:#4A148C;float:left;">
                                    <p style="line-height:25px;text-align:center;font-weight:bold;font-size:14px;">L {{lowRight}}</p>
                                </div>
                                <div class="col-22" style="width:24%; height:25px; background-color:#9C27B0; color:#fff;float:left;margin-bottom:20px;">
                                    <p style="line-height:25px;text-align:center;font-weight:bold;font-size:14px;">H {{highRight}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-33">
                                    <h3 style="color:#FF9800;">{{leftCountAverage}}</h3>
                                </div>
                                <div class="col-33" style="color:#000;font-size:16px;">{{ 'AVERAGE' | translate}}</div>
                                <div class="col-33">
                                    <h3 style="color:#9C27B0;">{{rightCountAverage}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="chart-content tests with-transitions">
                            <ion-spinner icon="lines" ng-show="!averageTaps"></ion-spinner>
                            <nvd3 options="averageTapChartOptions" data="averageTaps"></nvd3>
                        </div>
                    </ion-scroll>
                    <!--END CARD CONTENT-->
                    <!--CARD FOOTER-->
                    <div class="button-bar card-footer">
                        <a href="#/tab/deck" class="button button-clear button-assertive  ion-ios-close-empty"></a>
                    </div>
                    <!--END CARD FOOTER-->
                </div>
                <!--END CARD FRONT FACE-->
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
