<ion-view>
    <ion-content scroll="true">
        <div flip>

            <div class="box service">
                <div class="card-header">{{ 'ADD_DATA' | translate }}</div>
                <ion-scroll class="card-content">
                    <div class="row">
                        <div class="col-50" ng-if="!user.misfitToken">
                            <div class="grid-item" ng-click="showBackPanel('misfit')">
                                <i class="icon-misfit"></i>
                                <h4>Misfit</h4>
                            </div>
                        </div>
                        <div class="col-50">
                            <div class="grid-item">
                            </div>
                        </div>

                    </div>
                </ion-scroll>
                <div class="button-bar card-footer">
                    <a href="#/tab/deck" class="button button-clear button-assertive  ion-ios-close-empty"></a>
                </div>
            </div>

            <div class="box white">
                <ion-scroll class="card-content misfit-card">
                    <i class="icon-misfit-full"></i>
                    <div>
                        <img src="img/misfit-watch.png" alt="" />
                    </div>

                    <button class="florence button button-block button-assertive" ng-if="user.misfitToken" ng-click="disconnectConfirmPopUp('misfit')">Disconnect</button>
                    <button class="florence button button-block button-calm" ng-if="!user.misfitToken" ng-click="connectService('misfit')">Connect</button>
                </ion-scroll>

                <div class="button-bar card-footer">
                    <button class="button button-clear button-assertive  ion-ios-close-empty" ng-if="!user.misfitToken" ng-click="showFrontPanel()"></button>
                    <button class="button button-clear button-assertive  ion-ios-close-empty" ng-if="user.misfitToken" ui-sref="tab.deck"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<button class="button button-clear button-assertive  ion-ios-close-empty" ng-if="!user.misfitToken" ng-click="showFrontPanel()"></button>
<button class="button button-clear button-assertive  ion-ios-close-empty" ng-if="user.misfitToken" ui-sref="tab.deck"></button>
</div>
</div>
</div>
</ion-content>
</ion-view>
