<ion-view>
  <ion-content scroll="true">
    <ion-refresher on-refresh="refreshDeck()" pulling-icon="ion-ios-arrow-thin-down" spinner="lines" class="spinner-assertive">
    </ion-refresher>
    <!-- <i class="ion-ios-bookmarks history-navigation-button" nav-direction="forward" ui-sref="tab.history"></i> -->
    <div class="category">
      <h2>{{ 'PLUSCARD' | translate }}</h2>
      <ion-list>
        <ion-item class="deckCard" show-reorder="true" ng-repeat="plusone in plusones" type="item-text-wrap" href="#/tab/plusone/{{plusone._id}}">
          <div class="deckCardFace plusones">
            <i class="icon ion-ios-medkit"></i>
          </div>
          <h3>{{plusone.tradename}}</h3>
        </ion-item>
        <ion-item class="deckCard" href="#/tab/mood">
          <div class="deckCardFace mood">
            <i class="icon ion-happy"></i>
          </div>
          <h3>{{ 'MOOD' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard" href="#/tab/pain">
          <div class="deckCardFace pain">
            <i class="icon ion-flash"></i>
          </div>
          <h3>{{ 'PAIN' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard" href="#/tab/note">
          <div class="deckCardFace note">
            <i class="icon ion-ios-compose"></i>
          </div>
          <h3>{{ 'NOTE' | translate }}</h3>
        </ion-item>

        <ion-item class="deckCard" href="#/tab/plusone/add">
          <div class="deckCardFace add">
            <i class="icon ion-ios-plus-outline"></i>
          </div>

    </div>
    <div class="category ">
      <h2>{{ 'REMINDERS' | translate }}</h2>
      <ion-list>
        <ion-item class="deckCard " show-reorder="true " ng-repeat="reminder in reminders " type="item-text-wrap " href="#/tab/reminders/{{reminder._id}} ">
          <div class="deckCardFace reminders ">
            <i class="icon ion-ios-bell "></i>
          </div>
          <h3>{{reminder.hour | numberFixedLen:2}}:{{reminder.minute | numberFixedLen:2}}</h3>
        </ion-item>
        <ion-item class="deckCard " href="#/tab/reminders/add ">
          <div class="deckCardFace add ">
            <i class="icon ion-ios-plus-outline "></i>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div class="category" ng-if="classes && classes.length> 0 && profile.lastname == 'Developer' ">
      <h2>{{ 'CLASSES' | translate }}</h2>
      <ion-list>
        <ion-item class="deckCard" ui-sref="tab.class({classId: class.id})" ng-repeat="class in classes">
          <div class="deckCardFace exercise" ng-style="{background: class.color}">
            <i class="icon {{class.iconName}}" ng-style="{color: class.iconColor}"></i>
          </div>
          <h3>{{class.name}}</h3>
        </ion-item>
      </ion-list>
    </div>

    <div class="category" ng-if="profile.lastname == 'Developer' ">
      <h2>{{ 'TESTS' | translate }}</h2>
      <ion-list>
        <ion-item class=" deckCard " href="#/tab/tap-test ">
          <div class="deckCardFace test ">
            <i class="icon ion-ios-stopwatch "></i>
          </div>
          <h3>{{ 'FINGER_TAP' | translate }}</h3>
        </ion-item>
      </ion-list>
    </div>

    <div class="category " ng-if="profile.lastname == 'Developer' ">
      <h2>{{ 'CHARTS' | translate }}</h2>
      <ion-list>
        <ion-item class="deckCard " href="#/tab/charts/activity ">
          <div class="deckCardFace exercise ">
            <i class="icon ion-stats-bars "></i>
          </div>
          <h3>{{ 'ACTIVITY' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard " href="#/tab/charts/sleep " ng-if="user.misfitToken ">
          <div class="deckCardFace sleep ">
            <i class="icon ion-stats-bars "></i>
          </div>
          <h3>{{ 'SLEEP' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard " href="#/tab/charts/medication ">
          <div class="deckCardFace reminders ">
            <i class="icon ion-stats-bars "></i>
          </div>
          <h3>{{ 'MEDICINE' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard " href="#/tab/charts/taptest ">
          <div class="deckCardFace test ">
            <i class="icon ion-stats-bars "></i>
          </div>
          <h3>{{ 'FINGER_TAP' | translate }}</h3>
        </ion-item>
      </ion-list>
    </div>

    <div class="category " ng-if="profile.lastname == 'Developer' ">
      <h2>{{ 'DATA' | translate }}</h2>
      <ion-list>
        <ion-item class="deckCard " href="#/tab/service/misfit " ng-if="user.misfitToken ">
          <div class="deckCardFace misfit-card ">
            <i class="icon icon-misfit "></i>
          </div>
          <h3></h3>
        </ion-item>
        <ion-item class="deckCard " href="#/tab/service-add ">
          <div class="deckCardFace add ">
            <i class="icon ion-ios-plus-outline "></i>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div class="category ">
      <h2>{{ 'SYSTEM' | translate }}</h2>
      <ion-list>
        <ion-item class="deckCard " href="#/tab/system/contact ">
          <div class="deckCardFace add ">
            <i class="icon ion-ios-email "></i>
          </div>
          <h3>{{ 'CONTACT' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard " href="#/tab/system/profile-2 ">
          <div class="deckCardFace add ">
            <i class="icon ion-ios-person "></i>
          </div>
          <h3>{{ 'PROFILE' | translate }}</h3>
        </ion-item>
        <ion-item class="deckCard " herf="#/tab/history ">
          <div class="deckCardFace add " nav-direction="forward " ui-sref="tab.history ">
            <i class="icon ion-ios-bookmarks "></i>
          </div>
          <h3>{{ 'DIARY' | translate }}</h3>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
