<ion-view>
    <ion-content class="padding authentication_page" scroll="false">

        <h2 style="margin-top:8%;">{{ 'FLORENCE_GREETING' | translate }}</h2>

        <p class="welcome" style="text-align:center; margin-top:10%;">{{ 'FLORENCE_BASELINE' | translate }}</p>

        <div class="flex">
            <a class="button button-calm" href="#/tab/auth/signup">
            {{ 'REGISTER' | translate }}
        </a>

            <a class="button button-light" href="#/tab/auth/login">
            {{ 'LOGIN' | translate }}
        </a>
        </div>
        <h3><a ui-sref="tab.forgot-password">{{ 'FORGOT_PASSWORD' | translate }}</a> </h3>
    </ion-content>
</ion-view>
