<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Auth Tab -->
    <ion-tab title="Auth" icon-off="ion-ios-unlocked-outline" icon-on="ion-ios-unlocked" href="#/tab/auth">
        <ion-nav-view name="tab-auth"></ion-nav-view>
    </ion-tab>
    <!-- Deck Tab -->
    <ion-tab title="Deck" icon-off="ion-grid" icon-on="ion-grid" href="#/tab/deck">
        <ion-nav-view name="tab-deck"></ion-nav-view>
    </ion-tab>
</ion-tabs>

<!--
Template for Medicine reminder modal
-->
<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <!-- CARD FRONT FACE -->
        <div class="box system" ng-show="!postponeActive">
            <!--CARD HEADER-->
            <div class="card-header">{{ 'MEDICATION_REMINDER' | translate }}</div>
            <!--END CARD HEADER-->
            <div class="reminder-time-display">
                <h4>{{ 'REMINDER_TIME' | translate }}</h4>
                <h3>{{notification.data.hour}}:{{notification.data.minute}}</h3>
            </div>
            <h4>{{ 'MEDICATION_REMINDER_GREETING' | translate }}</h4>
            <!--CARD CONTENT-->
            <ion-scroll class="card-content" ng-class="{'all-unchecked': areAllUnchecked()}">
                <div class="list florence-list notification-list">
                    <div class="item" ng-repeat="medicine in notification.data.medicines" ng-class="{'postpone-item': (!medicine.checked  && !areAllUnchecked()), 'checked': medicine.checked}" ng-click="prevTakenAlert(medicine)">
                        <span style="width: 40px;">{{ medicine.dosage }}</span>
                        <span class="flex">{{ medicine.tradename }}</span>
                        <span class="right-side">
                    <i ng-show="medicine.prevTaken" style="color:#fff;font-size: 20px;float: left;margin-top: 7px;margin-right: 10px;" class="ion-ios-time-outline"></i>
                    <i ng-show="!medicine.checked" class="ion-ios-circle-outline"></i>
                    <i ng-show="medicine.checked" class="ion-ios-checkmark"></i>
                </span>
                    </div>
                </div>
            </ion-scroll>
            <!--END CARD CONTENT-->
            <!--CARD FOOTER-->
            <div class="button-bar card-footer">
                <a href="" class="button button-clear button-assertive" ng-show="areAnyUnchecked()" ng-click="postpone();">
                    <h3 ng-if="areAllUnchecked()" class="buttonYellow">{{'POSTPONE_ALL' | translate}}</h3>
                    <h3 ng-if="!areAllUnchecked()" class="buttonYellow">{{'POSTPONE' | translate}}</h3>
                </a>
                <a href="" class="button button-clear button-balanced" ng-click="addIntake()">
                    <h3 class="buttonSave">{{'SAVE' | translate}}</h3>
                </a>
            </div>
            <!--END CARD FOOTER-->
        </div>
        <div class="box reminder" ng-show="postponeActive">
            <div class="card-header">{{'MEDICATION_REMINDER_POSTPONE' | translate}}</div>
            <div class="reminder-time-display">
                <h4>{{ 'POSTPONE_TIME' | translate }}</h4>
                <div class="row reminderTime">
                    <input type="tel" class="col reminderHour" ng-model="postponeData.hour" ng-change="changeTime('hour')" ng-click="clearField('hour')" ng-blur="blankReplace('hour')" />
                    <span class="col col-10 reminderColon">:</span>
                    <input type="tel" class="col reminderMinute" ng-model="postponeData.minute" ng-change="changeTime('minute')" ng-click="clearField('minute')" ng-blur="blankReplace('minute')" />
                </div>
            </div>
            <ion-scroll class="card-content">
                <div class="list florence-list notification-list">
                    <div class="item" ng-repeat="medicine in notification.data.medicines" ng-class="{'postpone-item': !medicine.checked, 'checked': medicine.checked, 'disabled': medicine.checked}">
                        <span style="width: 40px;">{{ medicine.dosage }}</span>
                        <span class="flex">{{ medicine.tradename }}</span>
                        <span class="right-side fade">
                    <i ng-show="!medicine.checked" class="ion-forward"></i>
                    <i ng-show="medicine.checked" class="ion-ios-checkmark"></i>
                </span>
                    </div>
                </div>
            </ion-scroll>
            <div class="button-bar card-footer">
                <a href="" class="button button-clear button-assertive" ng-show="areAnyUnchecked()" ng-click="postpone();">
                    <h3 class="buttonGrey">{{'Cancel' | translate}}</h3>
                </a>
                <a href="" class="button button-clear button-balanced" ng-click="saveAndPostpone()">
                    <h3 class="buttonYellow">{{'POSTPONE_SAVE' | translate}}</h3>
                </a>
            </div>
        </div>
    </ion-modal-view>
</script>
