<div class="card-header">
    {{'PLUSONE_PAIN_TITLE' | translate}}
    <button class="ion-ios-trash history-delete-intake" ng-click="deleteIntake(activeHistoryEntry.intakes[0])"></button>
</div>
<div class="card-header giant">{{takenTime}}</div>
<div class="card-content">
    <h4>{{ 'HOW_WAS_YOUR_PAIN' | translate }}</h4>
    <ion-list class="dropdownList">
        <ion-item ng-click="showPainType()" class="item-icon-right dropdownItem"><i class="icon ion-ios-arrow-down"></i> {{ 'PAIN_TYPE' | translate }}: {{activeHistoryEntry.intakes[0].doc.painType | translate}}
        </ion-item>
        <ion-item ng-repeat="painType in pain.typeItems" ng-click="selectPainType(painType)" class="dropdownItem">
            {{painType | translate}}
        </ion-item>
    </ion-list>
    <div class="radioWrap">
        <input type="radio" id="radio1" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="1">
        <label for="radio1">1</label>
        <input type="radio" id="radio2" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="2">
        <label for="radio2">2</label>
        <input type="radio" id="radio3" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="3">
        <label for="radio3">3</label>
        <input type="radio" id="radio4" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="4">
        <label for="radio4">4</label>
        <input type="radio" id="radio5" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="5">
        <label for="radio5">5</label>
        <input type="radio" id="radio6" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="6">
        <label for="radio6">6</label>
        <input type="radio" id="radio7" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="7">
        <label for="radio7">7</label>
        <input type="radio" id="radio8" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="8">
        <label for="radio8">8</label>
        <input type="radio" id="radio9" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="9">
        <label for="radio9">9</label>
        <input type="radio" id="radio10" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="10">
        <label for="radio10">10</label>
    </div>
    <div class="radioWrap">
        <input type="radio" id="radio0" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="0">
        <label for="radio0">0</label>
    </div>
</div>
<div class="button-bar card-footer">
    <a ng-click="back()" class="button button-clear button-assertive">
        <h3 class="buttonCancel">{{'CANCEL' | translate}}</h3>
    </a>
    <button class="button button-clear button-balanced" ng-click="save(activeHistoryEntry.intakes[0])">
        <h3 class="buttonSave">{{'SAVE' | translate}}</h3>
    </button>
</div>
