<div class="card-header">
  {{'DIARY' | translate}}
  <button class="ion-ios-trash history-delete-intake" ng-click="deleteIntake(activeHistoryEntry.intakes[0])"></button>
</div>
<div class="card-header sub">{{activeHistoryEntry.intakes[0].doc.tradename}}</div>
<div class="card-header giant">{{takenTime}}</div>

<ion-scroll class="scroll" style="padding:10px;">

  <ion-list can-swipe="true" class="florence-list list-inset stagger">
    <div class="accordeon" ng-repeat-end ng-if="activeAccordeon == $index">
      <div class="entry" ng-click="showDosage()">
        <div class="flex">{{ 'DOSAGE' | translate }}: {{activeHistoryEntry.intakes[0].doc.dosage}}</div>
        <div class="right-side">
          <i class="icon ion-ios-arrow-down"></i>
        </div>
      </div>

      <ion-list class="stagger">
        <ion-item class="entry" ng-if="dosageOpen" ng-repeat="dosage in dosages" ng-click="selectDosage(activeHistoryEntry.intakes[0], dosage)">
          {{dosage}}
        </ion-item>
      </ion-list>

      <div class="entry">
        <div class="flex">{{ 'TAKEN' | translate }}</div>

        <div class="right-side florence-checkbox" ng-click="toggleActive(activeHistoryEntry.intakes[0])">
          <i ng-show="!activeHistoryEntry.intakes[0].doc.checked" class="ion-ios-circle-outline"></i>
          <i ng-show="activeHistoryEntry.intakes[0].doc.checked" class="ion-ios-checkmark"></i>
        </div>
      </div>
      <div class="entry" ng-if="activeHistoryEntry.intakes[0].doc.checked">
        <div class="flex">{{ 'TIME_TAKEN' | translate }}</div>
        <div class="right-side">
          <div class="time-edit" style="width: 162px;">
            <input type="tel" size=2 class="hour" ng-model="activeHistoryEntry.intakes[0].doc.takenHour" ng-change="updateIntake(activeHistoryEntry.intakes[0],'hour')" ng-click="clearField(activeHistoryEntry.intakes[0],'hour')" ng-blur="blankReplace(activeHistoryEntry.intakes[0],'hour')"
            />

            <span class="colon">&ensp;&ensp;&ensp;:</span>

            <input type="tel" size=2 class="minute" ng-model="activeHistoryEntry.intakes[0].doc.takenMinute" ng-change="updateIntake(activeHistoryEntry.intakes[0],'minute')" ng-click="clearField(activeHistoryEntry.intakes[0],'minute')" ng-blur="blankReplace(activeHistoryEntry.intakes[0],'minute')"
            />
          </div>
        </div>
      </div>
      <div class="entry" ng-if="activeHistoryEntry.intakes[0].doc.checked">
        <div class="flex">{{ 'DATE_TAKEN' | translate }}</div>
        <div class="right-side">
          <div class="time-edit" style="width: 162px;">
            <input style="width: 100%;" type="date" ng-model="takenDate" ng-init="takenDate = initTakenDate(activeHistoryEntry.intakes[0].doc.TS)" ng-blur="updateIntake(activeHistoryEntry.intakes[0],'takenDate', takenDate)" />
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</ion-scroll>
<div class="button-bar card-footer">
  <a ng-click="back()" class="button button-clear button-assertive"><h3 class="buttonCancel">{{'CANCEL' |
    translate}}</h3></a>
  <button class="button button-clear button-balanced" ng-click="save(activeHistoryEntry.intakes[0])"><h3 class="buttonSave">{{'SAVE' |
    translate}}</h3></button>
</div>
