<div class="card-header">
    {{'NOTE' | translate}}
    <button class="ion-ios-trash history-delete-intake" ng-click="deleteIntake(activeHistoryEntry.intakes[0])"></button>
</div>
<div class="card-header giant">{{takenTime}}</div>

<div class="card-content">
    <h4>{{ 'WASSAP?' | translate }}</h4>
    <label class="item item-input">
    <textarea rows="13" cols="8" ng-model="activeHistoryEntry.intakes[0].doc.value" maxlength="400" ng-trim="true"></textarea>
  </label>
</div>

<div class="button-bar card-footer">
    <a ng-click="back()" class="button button-clear button-assertive">
        <h3 class="buttonCancel">{{'CANCEL' | translate}}</h3>
    </a>

    <button class="button button-clear button-balanced" ng-click="save(activeHistoryEntry.intakes[0])">
    <h3 class="buttonSave">{{'SAVE' | translate}}</h3>
  </button>
</div>
