<div class="card-header">{{'DIARY' | translate}}</div>
<div class="card-header sub">{{'MEDICATION_LIST' | translate}}</div>
<div class="card-header giant">{{takenTime}}</div>

<ion-scroll class="scroll" style="padding:10px;">

    <ion-list can-swipe="true" class="florence-list list-inset stagger">
        <ion-item ng-repeat-start="intake in activeHistoryEntry.intakes" ng-click="openAccordeon($index)">
            <span class="flex">
                              {{intake.doc.dosage}}
                              {{intake.doc.tradename}}
                            </span>

            <span class="right-side pull-right fade" ng-if="intake.doc.checked">
                                <i ng-show="!intake.doc.checked" class="ion-ios-circle-outline"></i>
                                <i ng-show="intake.doc.checked" class="ion-ios-checkmark"></i>
                            </span>

            <ion-option-button class="button button-clear" ng-click="deleteIntakeFromList(intake, activeHistoryEntry.intakes)"><i class="icon ion-minus-circled"></i>
            </ion-option-button>
        </ion-item>

        <div class="accordeon" ng-repeat-end ng-if="activeAccordeon == $index">
            <div class="entry" ng-click="showDosage()">
                <div class="flex">{{ 'DOSAGE' | translate }}: {{intake.doc.dosage}}</div>
                <div class="right-side">
                    <i class="icon ion-ios-arrow-down"></i>
                </div>
            </div>

            <ion-list class="stagger">
                <ion-item class="entry" ng-if="dosageOpen" ng-repeat="dosage in dosages" ng-click="selectDosage(intake, dosage)">
                    {{dosage}}
                </ion-item>
            </ion-list>

            <div class="entry">
                <div class="flex">{{ 'TAKEN' | translate }}</div>
                <div class="right-side florence-checkbox" ng-click="toggleActive(intake)">
                    <i ng-show="!intake.doc.checked" class="ion-ios-circle-outline"></i>
                    <i ng-show="intake.doc.checked" class="ion-ios-checkmark"></i>
                </div>
            </div>

            <div class="entry" ng-if="intake.doc.checked">
                <div class="flex">{{ 'TIME_TAKEN' | translate }}</div>
                <div class="right-side">
                    <div class="time-edit" style="width: 162px;">
                        <input type="tel" size=2 class="hour" ng-model="intake.doc.takenHour" ng-change="updateIntake(intake,'hour')" ng-click="clearField(intake,'hour')" ng-blur="blankReplace(intake,'hour')" />

                        <span class="colon">&ensp;&ensp;&ensp;:</span>

                        <input type="tel" size=2 class="minute" ng-model="intake.doc.takenMinute" ng-change="updateIntake(intake,'minute')" ng-click="clearField(intake,'minute')" ng-blur="blankReplace(intake,'minute')" />
                        <span class="colon">&ensp;&ensp;</span>
                    </div>
                </div>
            </div>

            <div class="entry" ng-if="intake.doc.checked">
                <div class="flex">{{ 'DATE_TAKEN' | translate }}</div>
                <div class="right-side">
                    <div class="time-edit" style="width: 165px;">
                        <input style="width: 100%;" type="date" ng-model="takenDate" ng-init="takenDate = initTakenDate(intake.doc.TS)" ng-blur="updateIntake(intake,'takenDate', takenDate)" />
                    </div>
                </div>
            </div>

    </ion-list>
</ion-scroll>
<div class="button-bar card-footer">
    <a ng-click="back()" class="button button-clear button-assertive"><h3 class="buttonCancel">{{'CANCEL' |
    translate}}</h3></a>
    <button class="button button-clear button-balanced" ng-click="back()"><h3 class="buttonSave">{{'SAVE' |
    translate}}</h3></button>
</div>
