<div class="card-header">
    {{'PLUSONE_MOOD_TITLE' | translate}}
    <button class="ion-ios-trash history-delete-intake" ng-click="deleteIntake(activeHistoryEntry.intakes[0])"></button>
</div>
<div class="card-header giant">{{takenTime}}</div>

<div class="card-content">
    <div class="radioWrap">
        <h4>{{ 'HOW_WAS_YOUR_MOOD?' | translate }}</h4>
        <input type="radio" id="radio1" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="1">
        <label for="radio1">1</label>
        <input type="radio" id="radio2" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="2">
        <label for="radio2">2</label>
        <input type="radio" id="radio3" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="3">
        <label for="radio3">3</label>
        <input type="radio" id="radio4" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="4">
        <label for="radio4">4</label>
        <input type="radio" id="radio5" ng-model="activeHistoryEntry.intakes[0].doc.value" ng-value="5">
        <label for="radio5">5</label>
    </div>
</div>

<div class="button-bar card-footer">
    <a ng-click="back()" class="button button-clear button-assertive">
        <h3 class="buttonCancel">{{'CANCEL' | translate}}</h3>
    </a>

    <button class="button button-clear button-balanced" ng-click="save(activeHistoryEntry.intakes[0])">
    <h3 class="buttonSave">{{'SAVE' | translate}}</h3>
  </button>
</div>
