<div class="page" title="Page 1">
    <div class="layoutArea">
        <div class="column">
            <p><span style="font-size: 18pt;line-height: 125%;">We are interested in some things about you and your health. Please answer all of the questions yourself by circling the number that best applies to you. There are no &quot;right&quot; or &quot;wrong&quot; answers. The information that you provide will remain strictly confidential.  Please indicate the extent to which you have experienced these symptoms or problems <u>during the past week</u>. &nbsp;</span></p>
        </div>
        <p style="text-align:center"><img alt="" height="350" src="http://i.imgur.com/KI8xgjK.png" style="width: 350px; height: 350px;" width="350" /></p>
    </div>
</div>


<div class="page" title="Page 1">
    <div class="layoutArea">
        <div class="column">
            <ol>
                <li style="font-size: 18pt;">
                    <div>
                        <p><span style="font-size: 18pt;line-height: 150%;">Do you have any trouble doing strenuous activities,&nbsp;like carrying a heavy shopping bag or a suitcase?&nbsp;</span></p>
                    </div>

                    <div>
                        <p><label style="font-size: 18pt;"><input name="q1" type="radio" value="1" />&nbsp;Not at All</label></p>

                        <p><label style="font-size: 18pt;"><input name="q1" type="radio" value="2" />&nbsp;A little</label></p>

                        <p><label style="font-size: 18pt;"><input name="q1" type="radio" value="3" />&nbsp;Quite a Bit</label></p>

                        <p><label style="font-size: 18pt;"><input name="q1" type="radio" value="4" />&nbsp;Very Much</label></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="page" title="Page 1">
    <div class="layoutArea">
        <div class="column">
            <ol>
                <li style="font-size: 18pt;">
                    <div>
                        <p><span style="font-size: 18pt;line-height: 150%;">Do you have any trouble taking a <u>long</u> walk?&nbsp;</span></p>
                    </div>

                    <div>
                        <p><label style="font-size: 18pt;"><input name="q2" type="radio" value="1" />&nbsp;Not at All</label></p>

                        <p><label style="font-size: 18pt;"><input name="q2" type="radio" value="2" />&nbsp;A little</label></p>

                        <p><label style="font-size: 18pt;"><input name="q2" type="radio" value="3" />&nbsp;Quite a Bit</label></p>

                        <p><label style="font-size: 18pt;"><input name="q2" type="radio" value="4" />&nbsp;Very Much</label></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="page" title="Page 1">
    <div class="layoutArea">
        <div class="column">
            <ol>
                <li style="font-size: 18pt;">
                    <div>
                        <p><span style="font-size: 18pt;line-height: 150%;">Do you have any trouble taking a <u>short</u> walk outside of the house?&nbsp;</span></p>
                    </div>

                    <div>
                        <p><label style="font-size: 18pt;"><input name="q3" type="radio" value="1" />&nbsp;Not at All</label></p>

                        <p><label style="font-size: 18pt;"><input name="q3" type="radio" value="2" />&nbsp;A little</label></p>

                        <p><label style="font-size: 18pt;"><input name="q3" type="radio" value="3" />&nbsp;Quite a Bit</label></p>

                        <p><label style="font-size: 18pt;"><input name="q3" type="radio" value="4" />&nbsp;Very Much</label></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="page" title="Page 1">
    <div class="layoutArea">
        <div class="column">
            <ol>
                <li style="font-size: 18pt;">
                    <div>
                        <p><span style="font-size: 18pt;line-height: 150%;">Do you need to stay in bed or a chair during the day?&nbsp;</span></p>
                    </div>

                    <div>
                        <p><label style="font-size: 18pt;"><input name="q4" type="radio" value="1" />&nbsp;Not at All</label></p>

                        <p><label style="font-size: 18pt;"><input name="q4" type="radio" value="2" />&nbsp;A little</label></p>

                        <p><label style="font-size: 18pt;"><input name="q4" type="radio" value="3" />&nbsp;Quite a Bit</label></p>

                        <p><label style="font-size: 18pt;"><input name="q4" type="radio" value="4" />&nbsp;Very Much</label></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="page" title="Page 1">
    <div class="layoutArea">
        <div class="column">
            <ol>
                <li style="font-size: 18pt;">
                    <div>
                        <p><span style="font-size: 18pt;line-height: 150%;">Do you need help with eating, dressing, washing yourself or using the toilet?&nbsp;</span></p>
                    </div>

                    <div>
                        <p><label style="font-size: 18pt;"><input name="q5" type="radio" value="1" />&nbsp;Not at All</label></p>

                        <p><label style="font-size: 18pt;"><input name="q5" type="radio" value="2" />&nbsp;A little</label></p>

                        <p><label style="font-size: 18pt;"><input name="q5" type="radio" value="3" />&nbsp;Quite a Bit</label></p>

                        <p><label style="font-size: 18pt;"><input name="q5" type="radio" value="4" />&nbsp;Very Much</label></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>
