@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9glnk9');
	src:url('fonts/icomoon.eot?#iefix9glnk9') format('embedded-opentype'),
		url('fonts/icomoon.woff?9glnk9') format('woff'),
		url('fonts/icomoon.ttf?9glnk9') format('truetype'),
		url('fonts/icomoon.svg?9glnk9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-misfit-full:before {
	content: "\e602";
}

.icon-misfit:before {
	content: "\e603";
}

.icon-brush:before {
	content: "\e604";
}

.icon-checkmark-circle:before {
	content: "\e600";
}

.icon-check:before {
	content: "\e601";
}

.icon-home2:before {
	content: "\e901";
}

.icon-palette:before {
	content: "\e92a";
}

.icon-palette2:before {
	content: "\e92b";
}

.icon-file-empty:before {
	content: "\e99d";
}

.icon-stack:before {
	content: "\e9cd";
}

.icon-user:before {
	content: "\eaf4";
}

.icon-collaboration:before {
	content: "\eb0d";
}

.icon-pill:before {
	content: "\eb79";
}

.icon-stack-plus:before {
	content: "\ed39";
}

.icon-plus:before {
	content: "\ed56";
}

.icon-plus2:before {
	content: "\ed58";
}

.icon-plus3:before {
	content: "\ed5a";
}

.icon-plus-circle2:before {
	content: "\ed5e";
}

.icon-checkmark:before {
	content: "\ed6c";
}

.icon-checkmark3:before {
	content: "\ed6e";
}

.icon-checkmark-circle2:before {
	content: "\ee73";
}

