@font-face {
    font-family: 'Florence';
    src: url('fonts/Florence.eot');
    src: url('fonts/Florence.eot#iefix') format('embedded-opentype'), url('fonts/Florence.ttf') format('truetype'), url('fonts/Florence.woff') format('woff'), url('fonts/Florence.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Florence' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
    content: "\0061";
}

.icon-email:before {
    content: "\0062";
}

.icon-logout:before {
    content: "\0064";
}

.icon-medication:before {
    content: "\0065";
}

.icon-name:before {
    content: "\0066";
}

.icon-password:before {
    content: "\0063";
}

.icon-tag:before {
    content: "\0067";
}
