/**
 * Authentication
 * --------------------------------------------------
 *
 */

.card-content.err {
  animation: shake 1s;
  -webkit-animation: shake 1s;
  -moz-animation: shake 1s;
  -ms-animation: shake 1s;
  -o-animation: shake 1s;
}

.authentication_page {
  padding-top: 40px;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  width: 90%;
  color: #fff;
}

.authentication_page h3 a {
  color: #fff;
}

.authentication_page h3 {
  color: #fff;
  font-size: 18px;
}

.authButtonContainer {
  margin: auto;
  padding-top: 10%;
}

.authentication_page .button {
  background-color: #00BCD4;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 160px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  font-size: 18px;
}

.authentication_page .button-calm {
  color: #fff;
  background-color: #00BCD4;
}

.authentication_page .button-calm:hover {
  background-color: #00BCD4;
  color: #fff;
  opacity: 0.8;
}

.authentication_page .button-calm.activated {
  background-color: #00BCD4;
  color: #fff;
  opacity: 0.8;
}

.authentication_page .button-light {
  color: #00BCD4;
  background-color: #fff;
}

.authentication_page .button-light:hover {
  color: #00BCD4;
  background-color: #fff;
  opacity: 0.8;
}

.authentication_page .button-light.activated {
  color: #00BCD4;
  background-color: #fff;
  opacity: 0.8;
}

.authentication {
  background-color: #00BCD4;
}

.box.authentication {
  background-color: #00BCD4;
}

.authentication .list-inset {
  background-color: transparent;
}

.authentication .item {
  border: 0px;
  height: 60px;
  background-color: transparent;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px !important;
}

.authentication input {
  font-family: RobotoCondensed-Light;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #fff;
  height: 50px;
  max-width: 78%;
  font-size: 22px;
  color: #fff;
}

.authentication input:focus {
  background-color: #fff;
  color: #00BCD4;
  transition: 0.2s;
}

.authentication .placeholder-icon {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid #fff;
  font-size: 30px;
  color: #fff;
  padding-left: 6px;
  line-height: 45px;
  margin: auto;
}

.authentication input::-webkit-input-placeholder {
  color: #fff;
  padding-top: 5px;
}

.authentication input.ng-invalid-email {
  border: 2px solid red;
}
