/**
* Base
* --------------------------------------------------
*
*/
ion-header-bar.bar.bar-header {
  display: none;
}

body {
  background-color: white;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  /*background-size: 375px 667px;*/
  font-family: RobotoCondensed-Regular;
  background-size: cover;
}

.bar {
  color: #fff;
  max-height: 20px;
  background-color: transparent;
  margin-top: 0px;
  background-image: none;
  border-width: 0px;
}

.pane {
  background-color: transparent;
  position: fixed;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 20px;
}

.has-header {
  top: 0px;
}

.tab-nav.tabs {
  padding-top: 0px;
  position: static;
  max-height: 0px;
  background-color: transparent;
}

.tabs-striped .tab-item.tab-item-active {
  border: 0px;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
  color: transparent;
}

.has-tabs {
  bottom: 0px;
}

.pull-right {
  float: right;
}

form {
  height: 84%;
}

.list {
  margin-bottom: 0px;
  padding: 0px;
}

.list:after {
  content: "";
  display: table;
  clear: both;
}

.time-edit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.time-edit .hour, .time-edit .minute, .time-edit .colon {
  float: left;
}

.time-edit .hour, .time-edit .minute {
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1.5em;
}

.time-edit .colon {
  padding: 6px 5px;
}

.no-data-placeholder {
  text-align: center;
  margin-top: -12px;
  color: rgba(255, 255, 255, 0.54);
  font-size: 16px;
}

.stagger .ng-enter {
  transition: 0.3s;
  opacity: 0;
}

.stagger .ng-enter-stagger {
  transition-delay: 0.1s;
}

.stagger .ng-enter-active {
  opacity: 1;
}

.stagger .ng-leave {
  transition: 0.3s;
  opacity: 1;
}

.stagger .ng-leave-active {
  opacity: 0;
}

.fade .ng-enter {
  transition: 0.3s;
  opacity: 0;
}

.fade .ng-enter-active {
  opacity: 1;
}

.fade .ng-leave {
  transition: 0.3s;
  opacity: 1;
}

.fade .ng-leave-active {
  opacity: 0;
}
