/**
* Box
* --------------------------------------------------
*
*/
.box {
  color: #fff;
  border: 13px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden !important;
}

.box.history {
  background-color: #fff;
  border: 0px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.card-header.larger {
  font-size: 28px;
  margin-top: 17px;
}

.card-header.sub {
  font-size: 18px;
  height: 28px;
  line-height: 28px;
}

.card-header.history {
  font-size: 18px;
  color: #000 !important;
}

.card-header.giant {
  font-size: 44px;
  margin-top: 0;
  display: block;
  line-height: 1.3em;
  margin-bottom: 14px;
}

.box.classes {
  background-color: #3F51B5;
}

.box.reminder {
  background-color: #4CAF50;
}

.box.plusone {
  background-color: #03A9F4;
}

.box.charts {
  background-color: #fff;
}

.box.tap-test {
  background-color: #7A12D6;
}

.box.service {
  background-color: #00BCD4;
}

.box.mood {
  background-color: #ecd31f;
}

.box.note {
  background-color: #878785;
  color: black;
}

.box.white {
  background-color: white;
  color: #262626;
}
