/**
 * Buttons
 * --------------------------------------------------
 *
 */
.send-button {
  font-family: RobotoCondensed-Regular;
  font-size: 16px;
  color: #fff;
  background-color: #FFC107;
  max-height: 12px;
  display: inline-block;
  line-height: 18px;
  min-height: 18px;
}

.send-button:hover, .send-button:active, .send-button:focus, .send-button.activated {
  background: #FFC107;
  color: #fff;
  opacity: 0.8;
}

.florence-button {
  background: #FFC107;
  max-height: 50px;
  height: 50px;
  border: 1px solid #FFC107;
  margin: 7px 0 0;
  padding: 5px;
  color: white;
  width: 100%;
  font-family: RobotoCondensed-Regular;
  font-size: 18px;
}

.florence-button:hover, .florence-button:active, .florence-button:focus, .florence-button.activated {
  background: #FFC107;
  color: #fff;
  opacity: 0.8;
}

.florence-button.button-red {
  background: #ef473a;
  border-color: #ef473a;
}

.florence-button.button-red:hover, .florence-button.button-red:active, .florence-button.button-red:focus, .florence-button.button-red.activated {
  background: #ef473a;
}

.florence-button.button-green {
  background: #33cd5f;
  border-color: #33cd5f;
}

.florence-button.button-green:hover, .florence-button.button-green:active, .florence-button.button-green:focus, .florence-button.button-green.activated {
  background: #33cd5f;
}

.button.florence {
  font-size: 18px;
  font-family: RobotoCondensed-Regular;
  border: none;
  border-radius: 0px;
}

.button.florence.button-outline {
  border-width: 1px;
  border-radius: 0px;
}

.buttonSave {
  color: #33cd5f;
  font-size: 18px;
  line-height: 45px;
}

.buttonCancel {
  color: #ef473a;
  font-size: 18px;
  line-height: 45px;
}

.buttonGrey {
  color: #939393;
  font-size: 18px;
  line-height: 45px;
}

.buttonYellow {
  color: #FFB300;
  font-size: 18px;
  line-height: 45px;
}

.buttonAuth {
  color: #00BCD4;
  font-size: 18px;
  line-height: 45px;
}

.item.action {
  background-color: #F44336;
  max-height: 50px;
  height: 50px;
  border: 1px solid #F44336;
  margin: 0px 0px 0px 0px;
  padding: 12px;
}

.item.action:hover, .item.action:active, .item.action:focus, .item.action.activated {
  background-color: #F44336;
  color: #fff;
  opacity: 0.8;
}

.item.action h2 {
  line-height: 24px;
  color: #fff;
  font-size: 18px;
  text-shadow: none;
  text-align: center;
}

.system.button {
  font-size: 40px;
  color: #fff;
  padding: 5px;
  background-color: rgba(178, 235, 242, 0.3);
}

.roundButton {
  width: 80px;
  height: 50px;
  background: transparent;
  color: #fff;
  border: none;
  opacity: 0.5;
  font-size: 40px;
  transition: 0.5s;
}

.roundButton.active, .roundButton.activated {
  background: transparent;
}

.roundButtonSel.active, .roundButtonSel.activated {
  background: transparent;
}

.roundButton.active {
  background: transparent;
  color: #fff;
  border: none;
  opacity: 1;
  transition: 0.5s;
  box-shadow: none;
}

.smallroundButton {
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 40px;
  color: #ff9800;
  border: none;
  opacity: 0.5;
  font-size: 16px;
  margin: 8px;
  padding: 0px;
  transition: 0.5s;
}

.smallroundButton.active, .smallroundButton.activated {
  background: #fff;
}

.smallroundButtonSel.active, .smallroundButtonSel.activated {
  background: #fff;
}

.smallroundButton.active, .smallroundButtonSel.activated {
  background: #fff;
  color: #ff9800;
  border: none;
  opacity: 1;
  transition: 0.5s;
  animation: fade 1s;
}
