/**
 * Cards
 * --------------------------------------------------
 *
 */

.card-header {
  font-family: RobotoCondensed-light;
  background: transparent;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
  height: 50px;
  line-height: 50px;
}

.card-header:after {
  content: "";
  display: table;
  clear: both;
}

.card-header .icon {
  font-size: 45px;
}


/* star icon */

.card-header .ion-ios-star-outline::before {
  margin-top: -4px;
  font-size: 40px;
}

.card-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: scroll;
  margin-bottom: 3px;
  margin-right: 3px;
  overflow: hidden;
}

.card-footer {
  background: #fff;
  height: 35px;
}

.card-footer .button-clear {
  font-size: 60px;
}

.button-bar {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  z-index: 99;
}

.slider-slides, .slider, .scroll, .flip {
  height: 100%;
}

.system h4 {
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

.system p {
  margin-bottom: 16px;
}

.system .center {
  text-align: center;
  margin: 10px;
  font-size: 14px;
}

a {
  color: white;
}

.slider-slide, .scroll-content {
  padding: 15px;
}

.slider-slide.slide-wrapper, .scroll-content.slide-wrapper {
  padding: 0px;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.misfit-card {
  color: #262626;
  padding-top: 10%;
}

.misfit-card .icon-misfit-full {
  font-size: 64px;
}

.misfit-card img {
  width: 90%;
  height: auto;
  margin-top: 5%;
}

.grid-item {
  height: 150px;
  line-height: 90px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44px;
  color: #fff;
  padding-top: 15px;
  margin: 1px;
}

.grid-item:hover, .grid-item:active, .grid-item:focus, .grid-item.activated {
  background: rgba(255, 255, 255, 0.4);
}


/**
 * Flip
 * --------------------------------------------------
 *
 */

.flip-panel {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -webkit-transform: perspective(800px) rotateY(0deg);
  -moz-transform: perspective(800px) rotateY(0deg);
}

.flip-hide-back-panel {
  -webkit-transform: perspective(800px) rotateY(180deg);
  -moz-transform: perspective(800px) rotateY(180deg);
  z-index: -1;
}

.flip-hide-front-panel {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  -moz-transform: perspective(800px) rotateY(-180deg);
}

.flip-ng-if .card-footer {
  position: absolute;
  bottom: 0;
}
