/**
 * Chart
 * --------------------------------------------------
 *
 */
.box.charts .card-header {
  color: black;
}

.chart-content h2 {
  color: black;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
