/**
* Deck
* --------------------------------------------------
*
*/

h2, h3, h4 {
  color: #fff;
  font-size: 18px;
  font-family: RobotoCondensed-Regular;
  text-align: center;
}

h4 .thin {
  font-family: RobotoCondensed-light;
}

.category {
  padding: 0px;
  clear: both;
  margin: 0px;
  padding-bottom: 5px;
}

.category:last-child {
  padding-bottom: 45px;
}

.category h2 {
  font-family: JosefinSans-Regular;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 20px;
  padding-bottom: 6px;
  text-align: left;
}

p {
  font-family: RobotoCondensed-Light;
  font-size: 16px;
  text-align: left;
  line-height: 18px;
}

.deckCard {
  border: 0px;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
  float: left;
  width: 60px;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  text-align: center;
}

.spinner svg {
  margin: auto;
}

.scroll-refresher .spinner svg {
  stroke: #FFF;
  margin: auto;
}

@media only screen and (min-device-width: 325px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .deckCard {
    margin: 6px !important;
  }
}


/* Override ionic CSS */

.deckCard .item-content {
  background-color: transparent;
  padding: 0;
}

.item .item-content.activated {
  background-color: transparent;
}

.deckCardFace {
  height: 90px;
  width: 60px;
  padding: 22px 0px 0px 0px;
  border: 3px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.deckCard h3 {
  font-size: 15px;
  margin-top: 5px;
}

.add {
  background-color: transparent;
}

.activities {
  background-color: #88C425;
}

.reminders {
  background-color: #4CAF50;
}

.sleep {
  background-color: #3F51B5;
}

.service {
  background-color: #00BCD4;
}

.food {
  background-color: #FF9800;
}

.system {
  background-color: #00BCD4;
}

.help {
  background-color: #1E676D;
}

.classes {
  background-color: #3F51B5;
}

.test {
  background-color: #7A12D6;
}

.exercise {
  background-color: #FFC107;
}

.plusones {
  background-color: #03A9F4;
}

.mood {
  background-color: #ecd31f;
}

.pain {
  background-color: #ff022f;
}

.note {
  background-color: #878785;
}

.deckCardFace.misfit-card {
  background: white;
  color: #262626;
}

.deckCardFace.misfit-card .icon {
  font-size: 26px;
  line-height: 46px;
}
