/**
 * florence-list
 * --------------------------------------------------
 *
 */
.florence-list {
  text-align: left;
  background: none;
  margin-top: 5px;
}

.florence-list .item {
  border: none;
  margin-bottom: 5px;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  padding: 14px 15px;
  border-radius: 0px !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.florence-list .item .right-side {
  float: right;
  margin: -8px 0;
}

.florence-list .item .right-side i {
  font-size: 32px;
  line-height: 1em;
}

.florence-list .item .flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.florence-list .item.disabled {
  opacity: .5;
}

.florence-list .item-right-editable {
  padding: 0;
}

.florence-list .item-right-editable .item-content {
  background: #80c582;
  padding: 16px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.florence-list .item-right-editable .item-options {
  padding: 4px;
  margin: auto;
  width: 36px;
  background-color: #F44336;
}

.florence-list .item-right-editable .item-options .ion-minus-circled::before {
  font-size: 18px;
  color: #FFFFFF;
  margin-top: -2px;
}

.florence-list .item.item-divider {
  background: none;
  text-align: center;
}

.florence-list .item-note {
  color: white;
}

.accordeon .entry {
  padding: 11px 13px;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: -1px;
  background-color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
}

.accordeon .entry .right-side {
  float: right;
  margin: -8px 0;
}

.accordeon .entry input {
  font-size: 24px;
  color: white;
  background: none;
  text-align: right;
  font-family: "RobotoCondensed-Regular";
  width: 100px;
  padding: 0;
  font-weight: 300;
}

.accordeon .entry:last-child {
  margin-bottom: 20px;
}

.florence-checkbox {
  font-size: 1.5em;
}

.florence-checkbox i {
  height: 1em;
  line-height: 1em;
  display: block;
}

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dropdownItem {
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  padding: 11px 13px;
  font-size: 18px;
}

.dropdownItem.activated {
  background-color: transparent;
  border-color: #fff;
}

.dropdownList {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
