/**
 * History
 * --------------------------------------------------
 *
 */
.history-wrapper {
  background-color: #4CAF50;
  background-image: none;
}

.history-wrapper .scroll-content {
  padding: 0;
}

.history-wrapper .card-footer {
  height: 48px;
}

.history-icon-unattended {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 100%;
  width: 1.4em;
  line-height: 1.4em;
  display: inline-block;
  text-align: center;
  margin: -6px 5px -6px -5px;
}

.history-navigation-button {
  position: absolute;
  margin: 5px;
  top: 0;
  opacity: 0.8;
  background: none;
  color: white;
  padding: 0;
  font-size: 24px;
  width: 1.5em;
  border-radius: 100%;
  border: 1px solid transparent;
}

.history-filter-button-toggle, .history-csv-export-button, .history-delete-intake, .history-navigation-button-back {
  position: absolute;
  margin: 5px;
  top: 0;
  opacity: 0.8;
  background: none;
  color: white;
  padding: 0;
  font-size: 25px;
  width: 1.5em;
  border-radius: 100%;
  border: 1px solid transparent;
}

.history-filter-button-toggle:active, .history-filter-button-toggle:hover, .history-filter-button-toggle:focus, .history-filter-button-toggle.activated, .history-csv-export-button:active, .history-csv-export-button:hover, .history-csv-export-button:focus, .history-csv-export-button.activated, .history-delete-intake:active, .history-delete-intake:hover, .history-delete-intake:focus, .history-delete-intake.activated, .history-navigation-button-back:active, .history-navigation-button-back:hover, .history-navigation-button-back:focus, .history-navigation-button-back.activated, .history-navigation-button:active, .history-navigation-button:hover, .history-navigation-button:focus, .history-navigation-button.activated {
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.history-filter-button-toggle.active, .history-csv-export-button.active, .history-delete-intake.active, .history-navigation-button-back.active, .history-navigation-button.active {
  opacity: 1;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #4CAF50;
}

.history-navigation-button, .history-navigation-button-back {
  right: 0;
  z-index: 99;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 1.6em;
  margin: -2px;
  width: 1.5em;
  height: 1.5em;
}

.history-navigation-button-back {
  margin: 10px;
  right: inherit;
  left: 0;
}

.history-delete-intake {
  left: 0;
}

.history-filter-button-toggle {
  right: 40px;
}

.history-csv-export-button {
  right: 0;
}

.history-detail-inner {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.history-filter-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 9px 0;
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.history-filter-bar .history-filter-button {
  color: white;
  font-size: 27px;
  border: none;
  border-radius: 100%;
  padding: 7px;
  width: 42px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.41);
  margin: 0 3px;
  opacity: 0.4;
}

.history-filter-bar .history-filter-button.active {
  opacity: 1;
}
