/**
 * History icons
 * --------------------------------------------------
 *
 */[class*="history-icon"] {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.history-icon-Reminder {
  background: #4CAF50;
}

.history-icon-Reminder:before {
  content: "\f3e2";
}

.history-icon-Plusone {
  background: #03A9F4;
}

.history-icon-Plusone:before {
  content: "\f45e";
}

.history-icon-Mood {
  background: #ecd31f;
}

.history-icon-Mood:before {
  content: "\f31c";
}

.history-icon-Pain {
  background: #ff022f;
}

.history-icon-Pain:before {
  content: "\f137";
}

.history-icon-Note {
  background: #878785;
}

.history-icon-Note:before {
  content: "\f418";
}

.history-icon {
  border-radius: 100%;
  width: 1.4em;
  line-height: 1.4em;
  display: inline-block;
  text-align: center;
  margin: -6px 5px -6px -5px;
}
