/**
 * Modal
 * --------------------------------------------------
 *
 */

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20%;
  padding-bottom: 10%;
  height: 100%;
}

.modal .box {
  width: 91%;
  margin: auto;
  background-color: #4CAF50;
  position: relative;
}

.modal .box .item-checkbox {
  background-color: #80C582;
  margin: auto;
  border: 0px;
  color: #fff;
  font-family: RobotoCondensed-regular;
  font-size: 20px;
}

.modal .card-header {
  padding-top: 8px;
}

.modal .notification-list .item .right-side i {
  color: #49994c;
}

.modal .notification-list .item.postpone-item {
  background: #FFB300;
}

.modal .notification-list .item.postpone-item .right-side i {
  color: white;
}

.modal .notification-list .item.checked .right-side i {
  color: white;
}

.modal .reminder-time-display {
  margin: 10px 0 15px;
}

.modal .reminder-time-display h4, .modal .reminder-time-display h3 {
  margin: 0;
}

.modal .reminder-time-display .reminderTime {
  width: 150px;
}
