/**
 * plusOne
 * --------------------------------------------------
 *
 */

.plusone-preview {
  text-align: left;
  color: #fff;
  width: 100%;
  height: 65px;
  border: 0;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #4FC3F7;
}

.plusone .medication-search input[type="text"] {
  font-family: RobotoCondensed-Light;
  background: #fff;
  border: 0px solid #fff;
  border-radius: 0px;
  font-size: 24px;
  height: 40px;
  line-height: 24px;
  color: #03A9F4;
  margin-bottom: 3px;
  width: 100%;
  padding: 13px 0px 13px 10px;
}

.plusone .medication-search input::-webkit-input-placeholder {
  color: #03A9F4;
  padding: 2px 0px 0px 0px;
}

.plusone .medication-search input::-moz-placeholder {
  color: #03A9F4;
}

.plusone-preview .button .icon:before, .button.icon-right:before {
  font-size: 20px;
  margin-top: 20px;
}

.plusone-preview div {
  line-height: 30px;
  padding: 0px 3px 0px 3px;
  margin: 0;
}

.plusone-preview .item-content {
  text-align: left;
  color: #fff;
  padding: 2px;
  background-color: #4FC3F7;
  font-family: RobotoCondensed-Light;
  font-size: 18px;
  height: 65px;
}

.plusone-preview .item-content.activated {
  background-color: #80c582;
}

.plusone-preview .tradename {
  font-family: RobotoCondensed-Regular;
  width: 50%;
  font-size: 24px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plusone-preview .strength {
  height: 30px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plusone-preview .organization {
  width: 50%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plusone-preview .dosage {
  font-size: 20px;
  font-family: RobotoCondensed-Regular;
  width: 50%;
  float: right;
}

.plusone-preview .item-options {
  background-color: #F44336;
  padding: 0px;
  margin: auto;
  width: 40px;
  height: 65px;
}

.plusone-preview .button .icon {
  margin-left: 5px;
}

.plusone-preview .button {
  color: #fff;
}

.plusDosage {
  margin: auto;
  width: 85px;
  padding: 0px;
  margin-bottom: 10px;
}

.plusDosage label [type="checkbox"] {
  display: none;
}

.radioWrap input[type="radio"] {
  display: none;
}

.radioWrap label {
  display: inline-block;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin: 2%;
  font-size: 20px;
  transition: 0.5s;
  line-height: 40px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.radioWrap input[type="radio"]:checked+label {
  background-color: white;
  color: red;
}

.plusDosage [type="checkbox"]+span {
  display: inline-block;
  border-radius: 65px;
  width: 65px;
  height: 65px;
  margin: 2%;
  font-size: 24px;
  transition: 0.5s;
  line-height: 65px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.plusDosage {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-bottom: 20px;
}

.plusDosage [type="checkbox"]:checked+span {
  background-color: #fff;
  border: 0px solid #fff;
  display: inline-block;
  opacity: 1;
  color: #03A9F4;
  transition: 0.5s;
}

.plusOneHeader {
  font-size: 24px !important;
}

.noBackground {
  background: transparent;
  border: none;
  color: #fff;
}

.range input {
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 1px;
  width: auto;
  height: 50px;
  outline: none;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  background-position: center;
  background-size: 99% 2px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.note p, .mood p {
  color: white;
  margin-top: 20px;
}
