/**
 * Popups
 * --------------------------------------------------
 *
 */

.popup-container {
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-container .popup {
  color: #fff;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: left;
  margin: auto;
  width: 92%;
  border-bottom: 10px;
}

.popup-head {
  border-bottom: 0px;
}

.popup-head h3 {
  border-bottom: 0px;
  color: #212121;
}


/* Rectangle 176: */

.popup-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: RobotoCondensed-Regular;
}

.popup-sub-title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: RobotoCondensed-Light;
}

.popup-body {
  text-align: center;
  font-size: 18px;
  font-family: RobotoCondensed-Light;
  padding: 20px;
  margin-bottom: 20px;
  color: #212121;
}

.popup-body li {
  text-align: left;
  padding: 10px;
  margin: 2px;
  background-color: #fff;
  list-style-type: none;
}

.popup-buttons {
  background-color: #fff;
  padding: 0px !important;
  min-height: 50px !important;
  border-radius: 5px;
}

.popup-buttons .button-clear {
  font-family: RobotoCondensed-Regular;
  font-size: 18px;
}

.profilePopButton {
  font-size: 60px !important;
  margin-top: -5px;
}

.popup-photoAdd {
  font-size: 60px !important;
  color: #fff !important;
  background: #00bcd4;
  border: none;
  border-radius: 2px;
  margin: 1px;
  width: 100px;
  height: 100px;
}
