/**
 * Profile
 * --------------------------------------------------
 *
 */


/* AVATAR */

.avatar {
  border: 1px solid rgba(178, 235, 242, 0.5);
  border-radius: 60px;
  width: 60px;
  height: 60px;
  font-size: 60px;
}

.avatar-side {
  opacity: 1;
  font-size: 60px;
}

.avatar-caption {
  text-align: center;
  margin-bottom: 0px;
}


/* ICON  */

.profile-icon {
  font-size: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.profile-icon-title {
  font-size: 32px;
}

.profile-icon-placeholder {
  font-size: 280px;
  text-align: center;
  line-height: 280px;
  vertical-align: middle;
}


/* HR */

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}


/* GET */

div.list.profile .item {
  max-height: 50px;
  height: 50px;
  background-color: transparent;
  margin: 2px 0px 2px 0px;
  border: 0px;
  padding: 0px;
  color: white;
}

div.list.profile .input-label {
  font-family: RobotoCondensed-light;
  text-align: left;
  color: white;
  padding: 0px;
}

div.list.profile p {
  font-family: RobotoCondensed-regular;
  background-color: transparent;
  line-height: 18px;
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}


/* PUT */


/* Labels */

.text-wrapper .input-label, .tag-wrapper .input-label, .radio-wrapper .input-label {
  font-family: RobotoCondensed-light;
  text-align: left;
  max-width: none;
  width: auto;
  color: white;
  padding: 0px;
}


/* Text based input */

.text-wrapper {
  margin-bottom: 0px;
}

.text-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.text-wrapper .item {
  background-color: transparent;
  margin: 2px 0px 2px 0px;
  border: 0px;
  padding: 0px;
  color: white;
  display: inline-block;
  width: 50%;
  float: left;
  max-height: 50px;
}

.text-wrapper input {
  font-family: RobotoCondensed-regular;
  background-color: transparent;
  line-height: 18px;
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  display: block;
  padding-left: 10px;
  margin-left: -10px;
}

.text-wrapper input:focus {
  background-color: #fff;
  color: #00BCD4;
  border-radius: 0px;
  transition: 0.2s;
}


/* Radio based input */

.radio-wrapper {
  margin-bottom: 15px;
}

.radio-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.radio-wrapper input[type="radio"] {
  display: none;
}

.radio-wrapper label {
  display: inline-block;
  float: left;
  padding: 4px 9px;
  border: 1px solid white;
  color: white;
  margin-right: 6px;
  border-radius: 8px;
}

.radio-wrapper input[type="radio"]:checked+label {
  background: white;
  color: #00BCD4;
}


/* Tags based choice */

.item-tags {
  max-height: inherit;
  height: auto;
}

.tag-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.tag {
  float: left;
  padding: 4px 9px;
  border: 1px solid white;
  color: white;
  margin-right: 6px;
}

.tag.active {
  background: white;
  color: #00BCD4;
}


/**
 * Password
 * --------------------------------------------------
 *
 */

.input-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.input-wrapper .item-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.input-wrapper>i {
  font-size: 25px;
  margin: 10px;
}

.input-wrapper .item {
  border: 0px;
  height: 60px;
  background-color: transparent;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px !important;
}

.input-wrapper input {
  font-family: RobotoCondensed-Light;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #fff;
  height: 32px;
  max-width: 78%;
  font-size: 20px;
  color: #fff;
}

.input-wrapper input:focus {
  background-color: #fff;
  color: #00BCD4;
  transition: 0.2s;
}

.input-wrapper .placeholder-icon {
  border-radius: 8px;
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  border: 1px solid #fff;
  font-size: 24px;
  color: #fff;
  padding-left: 6px;
  line-height: 28px;
  margin: auto;
}

.input-wrapper input::-webkit-input-placeholder {
  color: #fff;
  padding-top: 5px;
}
