/**
 * Reminder
 * --------------------------------------------------
 *
 */

/**
 * Medication
 * --------------------------------------------------
 *
 */

.reminder {
  background-color: #4CAF50;
}

.system {
  background-color: #00BCD4;
}


/* Background: */

.medication-preview {
  text-align: left;
  color: #fff;
  width: 100%;
  height: 65px;
  border: 0;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #81C784;
}

.medication-preview .button .icon:before, .button.icon-right:before {
  font-size: 20px;
  margin-top: 20px;
}

.medication-preview div {
  line-height: 30px;
  padding: 0px 3px 0px 3px;
  margin: 0;
}

.medication-preview .item-content {
  text-align: left;
  color: #fff;
  padding: 2px;
  background-color: #81C784;
  font-family: RobotoCondensed-Light;
  font-size: 18px;
  height: 65px;
}

.medication-preview .item-content.activated {
  background-color: #80c582;
}

.medication-preview .tradename {
  font-family: RobotoCondensed-Regular;
  width: 50%;
  font-size: 24px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.medication-preview .strength {
  height: 30px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.medication-preview .organization {
  width: 50%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.medication-preview .dosage {
  font-size: 20px;
  font-family: RobotoCondensed-Regular;
  width: 50%;
  float: right;
}

.medication-preview .item-options {
  background-color: #F44336;
  padding: 0px;
  margin: auto;
  width: 40px;
  height: 65px;
}

.medication-preview .button .icon {
  margin-left: 5px;
}

.medication-preview .button {
  color: #fff;
}

.medication-add.button {
  font-size: 35px;
  color: #fff;
  padding: 5px;
  margin-top: 18px;
  font-family: RobotoCondensed-Regular;
}

.reminder .medication-search input[type="text"] {
  font-family: RobotoCondensed-Light;
  background: #fff;
  border: 0px solid #fff;
  border-radius: 0px;
  font-size: 24px;
  height: 40px;
  line-height: 24px;
  color: #4CAF50;
  margin-bottom: 3px;
  width: 100%;
  padding: 13px 0px 13px 10px;
}

.reminder .medication-search input::-webkit-input-placeholder {
  color: #4CAF50;
  padding: 2px 0px 0px 0px;
}

.reminder .medication-search input::-moz-placeholder {
  color: #4CAF50;
}

.medication-search .angucomplete-row {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  background-color: #fff;
  border-bottom: 1px solid #7F7F7F;
  color: #4a4a4a;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  font-family: RobotoCondensed-Light;
  overflow: hidden;
}

.medication-search {
  padding-bottom: 0px;
}

.medication-search .highlight {
  color: #4CAF50;
}

.medication-search .plusonehighlight {
  color: #03A9F4;
}


/**
* Day of the week checkboxes
* --------------------------------------------------
*
*/

.week-days {
  margin: auto;
  width: 85px;
  padding: 0px;
  margin-bottom: 10px;
}

.week-days label [type="checkbox"] {
  display: none;
}

.week-days [type="checkbox"]+span {
  display: inline-block;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border: 0px solid #fff !important;
  margin: 0.5px;
  font-size: 12px;
  line-height: 8px;
  background-color: #fff;
  border: none;
}

.week-days.edit {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-bottom: 20px;
}

.week-days.edit [type="checkbox"]+span {
  display: inline-block;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 2px;
  font-size: 17px;
  line-height: 22px;
  opacity: 0.3;
  color: #4CAF50;
  transition: 0.5s;
}

.week-days [type="checkbox"]:checked+span {
  background: #fff;
  display: inline-block;
  color: #4CAF50;
}

.week-days.edit [type="checkbox"]:checked+span {
  background-color: #fff;
  border: 0px solid #fff;
  display: inline-block;
  opacity: 1;
  color: #4CAF50;
  transition: 0.5s;
}


/**
 * Time Picker
 * --------------------------------------------------
 *
 */

.reminderTime {
  font-size: 50px;
  font-family: RobotoCondensed-Regular;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  margin: auto;
  width: 86%;
}

.reminderColon {
  line-height: 40px;
  text-align: center;
  margin-left: -10px;
  color: #fff;
}

.reminderTime .reminderHour {
  font-family: RobotoCondensed-Regular;
  text-align: center;
  font-size: 50px;
  height: 60px;
  background-color: transparent;
  color: #fff;
  margin-right: 5px;
}

.reminderHour:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.4s;
}

.reminderTime .reminderMinute {
  font-family: RobotoCondensed-Regular;
  text-align: center;
  font-size: 50px;
  height: 60px;
  background-color: transparent;
  color: #fff;
  margin-left: 5px;
}

.reminderMinute:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.4s;
}

.cardDeleteButton {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.reminder .timeDisplay {
  font-size: 50px;
  line-height: 40px;
}

.timeDisplay .button-clear {
  font-size: 36px;
  color: #fff;
  margin-top: -6px;
}

.timeSelectorDirective {
  width: 90%;
  margin: auto;
  padding: 0px;
  height: 160px;
}

.timeSelectorDirective .increase:active, .timeSelectorDirective .decrease:active {
  background-color: #56D98B;
  padding: 0px;
}

.timeSelectorDirective .section {
  display: inline-block;
  height: 96px;
  padding: 0px;
  max-width: 60px;
  margin-left: -2px;
  margin-right: -2px;
}

.timeSelectorDirective .display {
  background-color: #80c582;
  color: #fff;
  font-size: 50px;
  height: 50px;
  width: 60px;
  line-height: 50px;
  font-family: RobotoCondensed-light;
  margin: 0px;
  padding: 0px;
}

.timeSelectorDirective .tick {
  margin: 0px;
  color: #fff;
  font-size: 50px;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
}

.timeSelectorDirective .button-light.button-clear {
  font-size: 50px;
  max-height: 80px;
  color: #fff;
  padding: 0px;
}

.dosageSelect {
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  padding: 11px 13px;
  font-size: 18px;
}

.dosageSelect.activated {
  background-color: transparent;
  border-color: #fff;
}

.dosageSelectList {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
