/**
 * Tap test
 * --------------------------------------------------
 *
 */
 .tap-testCommunication {
  font-size: 22px;
}

.circle {
  margin: auto;
  margin-top: -150px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-size: 20px;
  color: #7A12D6;
  text-align: center;
  background: #fff;
}

.circle:active {
  color: #eee;
  text-decoration: none;
  opacity: 1;
}

.circle i.icon {
  font-size: 80px;
  margin-left: 10px;
  line-height: 140px;
}

.tapContainer {
  margin-top: 10%;
  margin-bottom: 10%;
}

.round-progress {
  background: none;
  margin: auto;
}

.tap-button {
  border: none;
  background-color: transparent !important;
  display: inline-block;
  width: 50%;
  max-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rightHand {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.tapHandButton {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-bottom: 20px;
}

.tapHandButton span {
  display: inline-block;
  width: 65px;
  border-radius: 35px;
  font-size: 40px;
  transition: 0.5s;
  line-height: 65px;
  color: #7A12D6;
  background-color: #fff;
  opacity: 0.3;
  margin: 0px 15px 0px 15px;
}

.tapHandButton span.active {
  background-color: #fff;
  border: 0px solid #fff;
  display: inline-block;
  opacity: 1;
  color: #7A12D6;
  transition: 0.5s;
}
