$florence-primary: #00BCD4;
$florence-text: #262626;

$white: #FAFAFA;
$black: #212121;

$green: #4CAF50;
$light-green: #81c784;

$red: #f44336;
$light-red: #e57373;

$pink: #e91e63;
$light-pink: #f06292;

$purple: #9c27b0;
$light-purple: #ba68c8;

$indigo: #3f51b5;
$light-indigo: #7986cb;

$blue: #2196f3;
$light-blue: #64b5f6;

$cyan: #00bcd4;
$light-cyan: #4dd0e1;

$teal: #009688;
$light-teal: #4db6ac;

$amber: #ffc107;
$light-amber: #ffd54f;

$orange: #ff9800;
$light-orange: #ffb74d;

$grey: #9e9e9e;
$light-grey: #e0e0e0;

$blue-grey: #607d8b;
$light-blue-grey: #90a4ae;

$deep-orange: #ff5722;
$light-depp-orange: #ff8a65;

