@import url(icomoon/style.css);
@import url(icomoon-2/style.css);
@import url(animate.css);
@import url(../lib/angular-chart.js/dist/angular-chart.css);
@font-face {
  font-family: RobotoCondensed-Regular;
  src: url(../fonts/RobotoCondensed-Regular.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: RobotoCondensed-Light;
  src: url(../fonts/RobotoCondensed-Light.ttf); }

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf); }

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/JosefinSans-Regular.ttf); }

/**
* Base
* --------------------------------------------------
*
*/
ion-header-bar.bar.bar-header {
  display: none; }

body {
  background-color: white;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  /*background-size: 375px 667px;*/
  font-family: RobotoCondensed-Regular;
  background-size: cover; }

.bar {
  color: #fff;
  max-height: 20px;
  background-color: transparent;
  margin-top: 0px;
  background-image: none;
  border-width: 0px; }

.pane {
  background-color: transparent;
  position: fixed; }

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 20px; }

.has-header {
  top: 0px; }

.tab-nav.tabs {
  padding-top: 0px;
  position: static;
  max-height: 0px;
  background-color: transparent; }

.tabs-striped .tab-item.tab-item-active {
  border: 0px; }

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
  color: transparent; }

.has-tabs {
  bottom: 0px; }

.pull-right {
  float: right; }

form {
  height: 84%; }

.list {
  margin-bottom: 0px;
  padding: 0px; }

.list:after {
  content: "";
  display: table;
  clear: both; }

.time-edit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.time-edit .hour, .time-edit .minute, .time-edit .colon {
  float: left; }

.time-edit .hour, .time-edit .minute {
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1.5em; }

.time-edit .colon {
  padding: 6px 5px; }

.no-data-placeholder {
  text-align: center;
  margin-top: -12px;
  color: rgba(255, 255, 255, 0.54);
  font-size: 16px; }

.stagger .ng-enter {
  transition: 0.3s;
  opacity: 0; }

.stagger .ng-enter-stagger {
  transition-delay: 0.1s; }

.stagger .ng-enter-active {
  opacity: 1; }

.stagger .ng-leave {
  transition: 0.3s;
  opacity: 1; }

.stagger .ng-leave-active {
  opacity: 0; }

.fade .ng-enter {
  transition: 0.3s;
  opacity: 0; }

.fade .ng-enter-active {
  opacity: 1; }

.fade .ng-leave {
  transition: 0.3s;
  opacity: 1; }

.fade .ng-leave-active {
  opacity: 0; }

/**
* Deck
* --------------------------------------------------
*
*/
h2, h3, h4 {
  color: #fff;
  font-size: 18px;
  font-family: RobotoCondensed-Regular;
  text-align: center; }

h4 .thin {
  font-family: RobotoCondensed-light; }

.category {
  padding: 0px;
  clear: both;
  margin: 0px;
  padding-bottom: 5px; }

.category:last-child {
  padding-bottom: 45px; }

.category h2 {
  font-family: JosefinSans-Regular;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 20px;
  padding-bottom: 6px;
  text-align: left; }

p {
  font-family: RobotoCondensed-Light;
  font-size: 16px;
  text-align: left;
  line-height: 18px; }

.deckCard {
  border: 0px;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
  float: left;
  width: 60px;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  text-align: center; }

.spinner svg {
  margin: auto; }

.scroll-refresher .spinner svg {
  stroke: #FFF;
  margin: auto; }

@media only screen and (min-device-width: 325px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .deckCard {
    margin: 6px !important; } }

/* Override ionic CSS */
.deckCard .item-content {
  background-color: transparent;
  padding: 0; }

.item .item-content.activated {
  background-color: transparent; }

.deckCardFace {
  height: 90px;
  width: 60px;
  padding: 22px 0px 0px 0px;
  border: 3px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px; }

.deckCard h3 {
  font-size: 15px;
  margin-top: 5px; }

.add {
  background-color: transparent; }

.activities {
  background-color: #88C425; }

.reminders {
  background-color: #4CAF50; }

.sleep {
  background-color: #3F51B5; }

.service {
  background-color: #00BCD4; }

.food {
  background-color: #FF9800; }

.system {
  background-color: #00BCD4; }

.help {
  background-color: #1E676D; }

.classes {
  background-color: #3F51B5; }

.test {
  background-color: #7A12D6; }

.exercise {
  background-color: #FFC107; }

.plusones {
  background-color: #03A9F4; }

.mood {
  background-color: #ecd31f; }

.pain {
  background-color: #ff022f; }

.note {
  background-color: #878785; }

.deckCardFace.misfit-card {
  background: white;
  color: #262626; }

.deckCardFace.misfit-card .icon {
  font-size: 26px;
  line-height: 46px; }

/**
* Box
* --------------------------------------------------
*
*/
.box {
  color: #fff;
  border: 13px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden !important; }

.box.history {
  background-color: #fff;
  border: 0px !important;
  box-shadow: none !important;
  border-radius: 0px !important; }

.card-header.larger {
  font-size: 28px;
  margin-top: 17px; }

.card-header.sub {
  font-size: 18px;
  height: 28px;
  line-height: 28px; }

.card-header.history {
  font-size: 18px;
  color: #000 !important; }

.card-header.giant {
  font-size: 44px;
  margin-top: 0;
  display: block;
  line-height: 1.3em;
  margin-bottom: 14px; }

.box.classes {
  background-color: #3F51B5; }

.box.reminder {
  background-color: #4CAF50; }

.box.plusone {
  background-color: #03A9F4; }

.box.charts {
  background-color: #fff; }

.box.tap-test {
  background-color: #7A12D6; }

.box.service {
  background-color: #00BCD4; }

.box.mood {
  background-color: #ecd31f; }

.box.note {
  background-color: #878785;
  color: black; }

.box.white {
  background-color: white;
  color: #262626; }

/**
 * Buttons
 * --------------------------------------------------
 *
 */
.send-button {
  font-family: RobotoCondensed-Regular;
  font-size: 16px;
  color: #fff;
  background-color: #FFC107;
  max-height: 12px;
  display: inline-block;
  line-height: 18px;
  min-height: 18px; }

.send-button:hover, .send-button:active, .send-button:focus, .send-button.activated {
  background: #FFC107;
  color: #fff;
  opacity: 0.8; }

.florence-button {
  background: #FFC107;
  max-height: 50px;
  height: 50px;
  border: 1px solid #FFC107;
  margin: 7px 0 0;
  padding: 5px;
  color: white;
  width: 100%;
  font-family: RobotoCondensed-Regular;
  font-size: 18px; }

.florence-button:hover, .florence-button:active, .florence-button:focus, .florence-button.activated {
  background: #FFC107;
  color: #fff;
  opacity: 0.8; }

.florence-button.button-red {
  background: #ef473a;
  border-color: #ef473a; }

.florence-button.button-red:hover, .florence-button.button-red:active, .florence-button.button-red:focus, .florence-button.button-red.activated {
  background: #ef473a; }

.florence-button.button-green {
  background: #33cd5f;
  border-color: #33cd5f; }

.florence-button.button-green:hover, .florence-button.button-green:active, .florence-button.button-green:focus, .florence-button.button-green.activated {
  background: #33cd5f; }

.button.florence {
  font-size: 18px;
  font-family: RobotoCondensed-Regular;
  border: none;
  border-radius: 0px; }

.button.florence.button-outline {
  border-width: 1px;
  border-radius: 0px; }

.buttonSave {
  color: #33cd5f;
  font-size: 18px;
  line-height: 45px; }

.buttonCancel {
  color: #ef473a;
  font-size: 18px;
  line-height: 45px; }

.buttonGrey {
  color: #939393;
  font-size: 18px;
  line-height: 45px; }

.buttonYellow {
  color: #FFB300;
  font-size: 18px;
  line-height: 45px; }

.buttonAuth {
  color: #00BCD4;
  font-size: 18px;
  line-height: 45px; }

.item.action {
  background-color: #F44336;
  max-height: 50px;
  height: 50px;
  border: 1px solid #F44336;
  margin: 0px 0px 0px 0px;
  padding: 12px; }

.item.action:hover, .item.action:active, .item.action:focus, .item.action.activated {
  background-color: #F44336;
  color: #fff;
  opacity: 0.8; }

.item.action h2 {
  line-height: 24px;
  color: #fff;
  font-size: 18px;
  text-shadow: none;
  text-align: center; }

.system.button {
  font-size: 40px;
  color: #fff;
  padding: 5px;
  background-color: rgba(178, 235, 242, 0.3); }

.roundButton {
  width: 80px;
  height: 50px;
  background: transparent;
  color: #fff;
  border: none;
  opacity: 0.5;
  font-size: 40px;
  transition: 0.5s; }

.roundButton.active, .roundButton.activated {
  background: transparent; }

.roundButtonSel.active, .roundButtonSel.activated {
  background: transparent; }

.roundButton.active {
  background: transparent;
  color: #fff;
  border: none;
  opacity: 1;
  transition: 0.5s;
  box-shadow: none; }

.smallroundButton {
  width: 65px;
  height: 65px;
  background: #fff;
  border-radius: 40px;
  color: #ff9800;
  border: none;
  opacity: 0.5;
  font-size: 16px;
  margin: 8px;
  padding: 0px;
  transition: 0.5s; }

.smallroundButton.active, .smallroundButton.activated {
  background: #fff; }

.smallroundButtonSel.active, .smallroundButtonSel.activated {
  background: #fff; }

.smallroundButton.active, .smallroundButtonSel.activated {
  background: #fff;
  color: #ff9800;
  border: none;
  opacity: 1;
  transition: 0.5s;
  animation: fade 1s; }

/**
 * Cards
 * --------------------------------------------------
 *
 */
.card-header {
  font-family: RobotoCondensed-light;
  background: transparent;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
  height: 50px;
  line-height: 50px; }

.card-header:after {
  content: "";
  display: table;
  clear: both; }

.card-header .icon {
  font-size: 45px; }

/* star icon */
.card-header .ion-ios-star-outline::before {
  margin-top: -4px;
  font-size: 40px; }

.card-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: scroll;
  margin-bottom: 3px;
  margin-right: 3px;
  overflow: hidden; }

.card-footer {
  background: #fff;
  height: 35px; }

.card-footer .button-clear {
  font-size: 60px; }

.button-bar {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  z-index: 99; }

.slider-slides, .slider, .scroll, .flip {
  height: 100%; }

.system h4 {
  font-size: 18px;
  text-align: center;
  margin: 0px; }

.system p {
  margin-bottom: 16px; }

.system .center {
  text-align: center;
  margin: 10px;
  font-size: 14px; }

a {
  color: white; }

.slider-slide, .scroll-content {
  padding: 15px; }

.slider-slide.slide-wrapper, .scroll-content.slide-wrapper {
  padding: 0px; }

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.misfit-card {
  color: #262626;
  padding-top: 10%; }

.misfit-card .icon-misfit-full {
  font-size: 64px; }

.misfit-card img {
  width: 90%;
  height: auto;
  margin-top: 5%; }

.grid-item {
  height: 150px;
  line-height: 90px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44px;
  color: #fff;
  padding-top: 15px;
  margin: 1px; }

.grid-item:hover, .grid-item:active, .grid-item:focus, .grid-item.activated {
  background: rgba(255, 255, 255, 0.4); }

/**
 * Flip
 * --------------------------------------------------
 *
 */
.flip-panel {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -webkit-transform: perspective(800px) rotateY(0deg);
  -moz-transform: perspective(800px) rotateY(0deg); }

.flip-hide-back-panel {
  -webkit-transform: perspective(800px) rotateY(180deg);
  -moz-transform: perspective(800px) rotateY(180deg);
  z-index: -1; }

.flip-hide-front-panel {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  -moz-transform: perspective(800px) rotateY(-180deg); }

.flip-ng-if .card-footer {
  position: absolute;
  bottom: 0; }

/**
 * Chart
 * --------------------------------------------------
 *
 */
.box.charts .card-header {
  color: black; }

.chart-content h2 {
  color: black;
  font-size: 20px;
  padding: 0px;
  margin: 0px; }

/**
 * Profile
 * --------------------------------------------------
 *
 */
/* AVATAR */
.avatar {
  border: 1px solid rgba(178, 235, 242, 0.5);
  border-radius: 60px;
  width: 60px;
  height: 60px;
  font-size: 60px; }

.avatar-side {
  opacity: 1;
  font-size: 60px; }

.avatar-caption {
  text-align: center;
  margin-bottom: 0px; }

/* ICON  */
.profile-icon {
  font-size: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 4px; }

.profile-icon-title {
  font-size: 32px; }

.profile-icon-placeholder {
  font-size: 280px;
  text-align: center;
  line-height: 280px;
  vertical-align: middle; }

/* HR */
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.75), transparent); }

/* GET */
div.list.profile .item {
  max-height: 50px;
  height: 50px;
  background-color: transparent;
  margin: 2px 0px 2px 0px;
  border: 0px;
  padding: 0px;
  color: white; }

div.list.profile .input-label {
  font-family: RobotoCondensed-light;
  text-align: left;
  color: white;
  padding: 0px; }

div.list.profile p {
  font-family: RobotoCondensed-regular;
  background-color: transparent;
  line-height: 18px;
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  display: block;
  padding-left: 0px;
  margin-left: 0px; }

/* PUT */
/* Labels */
.text-wrapper .input-label, .tag-wrapper .input-label, .radio-wrapper .input-label {
  font-family: RobotoCondensed-light;
  text-align: left;
  max-width: none;
  width: auto;
  color: white;
  padding: 0px; }

/* Text based input */
.text-wrapper {
  margin-bottom: 0px; }

.text-wrapper:after {
  content: "";
  display: table;
  clear: both; }

.text-wrapper .item {
  background-color: transparent;
  margin: 2px 0px 2px 0px;
  border: 0px;
  padding: 0px;
  color: white;
  display: inline-block;
  width: 50%;
  float: left;
  max-height: 50px; }

.text-wrapper input {
  font-family: RobotoCondensed-regular;
  background-color: transparent;
  line-height: 18px;
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  display: block;
  padding-left: 10px;
  margin-left: -10px; }

.text-wrapper input:focus {
  background-color: #fff;
  color: #00BCD4;
  border-radius: 0px;
  transition: 0.2s; }

/* Radio based input */
.radio-wrapper {
  margin-bottom: 15px; }

.radio-wrapper:after {
  content: "";
  display: table;
  clear: both; }

.radio-wrapper input[type="radio"] {
  display: none; }

.radio-wrapper label {
  display: inline-block;
  float: left;
  padding: 4px 9px;
  border: 1px solid white;
  color: white;
  margin-right: 6px;
  border-radius: 8px; }

.radio-wrapper input[type="radio"]:checked + label {
  background: white;
  color: #00BCD4; }

/* Tags based choice */
.item-tags {
  max-height: inherit;
  height: auto; }

.tag-wrapper:after {
  content: "";
  display: table;
  clear: both; }

.tag {
  float: left;
  padding: 4px 9px;
  border: 1px solid white;
  color: white;
  margin-right: 6px; }

.tag.active {
  background: white;
  color: #00BCD4; }

/**
 * Password
 * --------------------------------------------------
 *
 */
.input-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.input-wrapper .item-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.input-wrapper > i {
  font-size: 25px;
  margin: 10px; }

.input-wrapper .item {
  border: 0px;
  height: 60px;
  background-color: transparent;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px !important; }

.input-wrapper input {
  font-family: RobotoCondensed-Light;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #fff;
  height: 32px;
  max-width: 78%;
  font-size: 20px;
  color: #fff; }

.input-wrapper input:focus {
  background-color: #fff;
  color: #00BCD4;
  transition: 0.2s; }

.input-wrapper .placeholder-icon {
  border-radius: 8px;
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  border: 1px solid #fff;
  font-size: 24px;
  color: #fff;
  padding-left: 6px;
  line-height: 28px;
  margin: auto; }

.input-wrapper input::-webkit-input-placeholder {
  color: #fff;
  padding-top: 5px; }

/**
 * Tap test
 * --------------------------------------------------
 *
 */
.tap-testCommunication {
  font-size: 22px; }

.circle {
  margin: auto;
  margin-top: -150px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-size: 20px;
  color: #7A12D6;
  text-align: center;
  background: #fff; }

.circle:active {
  color: #eee;
  text-decoration: none;
  opacity: 1; }

.circle i.icon {
  font-size: 80px;
  margin-left: 10px;
  line-height: 140px; }

.tapContainer {
  margin-top: 10%;
  margin-bottom: 10%; }

.round-progress {
  background: none;
  margin: auto; }

.tap-button {
  border: none;
  background-color: transparent !important;
  display: inline-block;
  width: 50%;
  max-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px; }

.rightHand {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.tapHandButton {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-bottom: 20px; }

.tapHandButton span {
  display: inline-block;
  width: 65px;
  border-radius: 35px;
  font-size: 40px;
  transition: 0.5s;
  line-height: 65px;
  color: #7A12D6;
  background-color: #fff;
  opacity: 0.3;
  margin: 0px 15px 0px 15px; }

.tapHandButton span.active {
  background-color: #fff;
  border: 0px solid #fff;
  display: inline-block;
  opacity: 1;
  color: #7A12D6;
  transition: 0.5s; }

/**
 * Authentication
 * --------------------------------------------------
 *
 */
.card-content.err {
  animation: shake 1s;
  -webkit-animation: shake 1s;
  -moz-animation: shake 1s;
  -ms-animation: shake 1s;
  -o-animation: shake 1s; }

.authentication_page {
  padding-top: 40px;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  width: 90%;
  color: #fff; }

.authentication_page h3 a {
  color: #fff; }

.authentication_page h3 {
  color: #fff;
  font-size: 18px; }

.authButtonContainer {
  margin: auto;
  padding-top: 10%; }

.authentication_page .button {
  background-color: #00BCD4;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 160px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  font-size: 18px; }

.authentication_page .button-calm {
  color: #fff;
  background-color: #00BCD4; }

.authentication_page .button-calm:hover {
  background-color: #00BCD4;
  color: #fff;
  opacity: 0.8; }

.authentication_page .button-calm.activated {
  background-color: #00BCD4;
  color: #fff;
  opacity: 0.8; }

.authentication_page .button-light {
  color: #00BCD4;
  background-color: #fff; }

.authentication_page .button-light:hover {
  color: #00BCD4;
  background-color: #fff;
  opacity: 0.8; }

.authentication_page .button-light.activated {
  color: #00BCD4;
  background-color: #fff;
  opacity: 0.8; }

.authentication {
  background-color: #00BCD4; }

.box.authentication {
  background-color: #00BCD4; }

.authentication .list-inset {
  background-color: transparent; }

.authentication .item {
  border: 0px;
  height: 60px;
  background-color: transparent;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px !important; }

.authentication input {
  font-family: RobotoCondensed-Light;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #fff;
  height: 50px;
  max-width: 78%;
  font-size: 22px;
  color: #fff; }

.authentication input:focus {
  background-color: #fff;
  color: #00BCD4;
  transition: 0.2s; }

.authentication .placeholder-icon {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid #fff;
  font-size: 30px;
  color: #fff;
  padding-left: 6px;
  line-height: 45px;
  margin: auto; }

.authentication input::-webkit-input-placeholder {
  color: #fff;
  padding-top: 5px; }

.authentication input.ng-invalid-email {
  border: 2px solid red; }

/**
 * Reminder
 * --------------------------------------------------
 *
 */
/**
 * Medication
 * --------------------------------------------------
 *
 */
.reminder {
  background-color: #4CAF50; }

.system {
  background-color: #00BCD4; }

/* Background: */
.medication-preview {
  text-align: left;
  color: #fff;
  width: 100%;
  height: 65px;
  border: 0;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #81C784; }

.medication-preview .button .icon:before, .button.icon-right:before {
  font-size: 20px;
  margin-top: 20px; }

.medication-preview div {
  line-height: 30px;
  padding: 0px 3px 0px 3px;
  margin: 0; }

.medication-preview .item-content {
  text-align: left;
  color: #fff;
  padding: 2px;
  background-color: #81C784;
  font-family: RobotoCondensed-Light;
  font-size: 18px;
  height: 65px; }

.medication-preview .item-content.activated {
  background-color: #80c582; }

.medication-preview .tradename {
  font-family: RobotoCondensed-Regular;
  width: 50%;
  font-size: 24px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis; }

.medication-preview .strength {
  height: 30px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis; }

.medication-preview .organization {
  width: 50%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis; }

.medication-preview .dosage {
  font-size: 20px;
  font-family: RobotoCondensed-Regular;
  width: 50%;
  float: right; }

.medication-preview .item-options {
  background-color: #F44336;
  padding: 0px;
  margin: auto;
  width: 40px;
  height: 65px; }

.medication-preview .button .icon {
  margin-left: 5px; }

.medication-preview .button {
  color: #fff; }

.medication-add.button {
  font-size: 35px;
  color: #fff;
  padding: 5px;
  margin-top: 18px;
  font-family: RobotoCondensed-Regular; }

.reminder .medication-search input[type="text"] {
  font-family: RobotoCondensed-Light;
  background: #fff;
  border: 0px solid #fff;
  border-radius: 0px;
  font-size: 24px;
  height: 40px;
  line-height: 24px;
  color: #4CAF50;
  margin-bottom: 3px;
  width: 100%;
  padding: 13px 0px 13px 10px; }

.reminder .medication-search input::-webkit-input-placeholder {
  color: #4CAF50;
  padding: 2px 0px 0px 0px; }

.reminder .medication-search input::-moz-placeholder {
  color: #4CAF50; }

.medication-search .angucomplete-row {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  background-color: #fff;
  border-bottom: 1px solid #7F7F7F;
  color: #4a4a4a;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  font-family: RobotoCondensed-Light;
  overflow: hidden; }

.medication-search {
  padding-bottom: 0px; }

.medication-search .highlight {
  color: #4CAF50; }

.medication-search .plusonehighlight {
  color: #03A9F4; }

/**
* Day of the week checkboxes
* --------------------------------------------------
*
*/
.week-days {
  margin: auto;
  width: 85px;
  padding: 0px;
  margin-bottom: 10px; }

.week-days label [type="checkbox"] {
  display: none; }

.week-days [type="checkbox"] + span {
  display: inline-block;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border: 0px solid #fff !important;
  margin: 0.5px;
  font-size: 12px;
  line-height: 8px;
  background-color: #fff;
  border: none; }

.week-days.edit {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-bottom: 20px; }

.week-days.edit [type="checkbox"] + span {
  display: inline-block;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin: 2px;
  font-size: 17px;
  line-height: 22px;
  opacity: 0.3;
  color: #4CAF50;
  transition: 0.5s; }

.week-days [type="checkbox"]:checked + span {
  background: #fff;
  display: inline-block;
  color: #4CAF50; }

.week-days.edit [type="checkbox"]:checked + span {
  background-color: #fff;
  border: 0px solid #fff;
  display: inline-block;
  opacity: 1;
  color: #4CAF50;
  transition: 0.5s; }

/**
 * Time Picker
 * --------------------------------------------------
 *
 */
.reminderTime {
  font-size: 50px;
  font-family: RobotoCondensed-Regular;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  margin: auto;
  width: 86%; }

.reminderColon {
  line-height: 40px;
  text-align: center;
  margin-left: -10px;
  color: #fff; }

.reminderTime .reminderHour {
  font-family: RobotoCondensed-Regular;
  text-align: center;
  font-size: 50px;
  height: 60px;
  background-color: transparent;
  color: #fff;
  margin-right: 5px; }

.reminderHour:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.4s; }

.reminderTime .reminderMinute {
  font-family: RobotoCondensed-Regular;
  text-align: center;
  font-size: 50px;
  height: 60px;
  background-color: transparent;
  color: #fff;
  margin-left: 5px; }

.reminderMinute:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.4s; }

.cardDeleteButton {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 30px; }

.reminder .timeDisplay {
  font-size: 50px;
  line-height: 40px; }

.timeDisplay .button-clear {
  font-size: 36px;
  color: #fff;
  margin-top: -6px; }

.timeSelectorDirective {
  width: 90%;
  margin: auto;
  padding: 0px;
  height: 160px; }

.timeSelectorDirective .increase:active, .timeSelectorDirective .decrease:active {
  background-color: #56D98B;
  padding: 0px; }

.timeSelectorDirective .section {
  display: inline-block;
  height: 96px;
  padding: 0px;
  max-width: 60px;
  margin-left: -2px;
  margin-right: -2px; }

.timeSelectorDirective .display {
  background-color: #80c582;
  color: #fff;
  font-size: 50px;
  height: 50px;
  width: 60px;
  line-height: 50px;
  font-family: RobotoCondensed-light;
  margin: 0px;
  padding: 0px; }

.timeSelectorDirective .tick {
  margin: 0px;
  color: #fff;
  font-size: 50px;
  margin-top: 0px;
  margin: 0px;
  padding: 0px; }

.timeSelectorDirective .button-light.button-clear {
  font-size: 50px;
  max-height: 80px;
  color: #fff;
  padding: 0px; }

.dosageSelect {
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  padding: 11px 13px;
  font-size: 18px; }

.dosageSelect.activated {
  background-color: transparent;
  border-color: #fff; }

.dosageSelectList {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px; }

/**
 * plusOne
 * --------------------------------------------------
 *
 */
.plusone-preview {
  text-align: left;
  color: #fff;
  width: 100%;
  height: 65px;
  border: 0;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #4FC3F7; }

.plusone .medication-search input[type="text"] {
  font-family: RobotoCondensed-Light;
  background: #fff;
  border: 0px solid #fff;
  border-radius: 0px;
  font-size: 24px;
  height: 40px;
  line-height: 24px;
  color: #03A9F4;
  margin-bottom: 3px;
  width: 100%;
  padding: 13px 0px 13px 10px; }

.plusone .medication-search input::-webkit-input-placeholder {
  color: #03A9F4;
  padding: 2px 0px 0px 0px; }

.plusone .medication-search input::-moz-placeholder {
  color: #03A9F4; }

.plusone-preview .button .icon:before, .button.icon-right:before {
  font-size: 20px;
  margin-top: 20px; }

.plusone-preview div {
  line-height: 30px;
  padding: 0px 3px 0px 3px;
  margin: 0; }

.plusone-preview .item-content {
  text-align: left;
  color: #fff;
  padding: 2px;
  background-color: #4FC3F7;
  font-family: RobotoCondensed-Light;
  font-size: 18px;
  height: 65px; }

.plusone-preview .item-content.activated {
  background-color: #80c582; }

.plusone-preview .tradename {
  font-family: RobotoCondensed-Regular;
  width: 50%;
  font-size: 24px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis; }

.plusone-preview .strength {
  height: 30px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis; }

.plusone-preview .organization {
  width: 50%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis; }

.plusone-preview .dosage {
  font-size: 20px;
  font-family: RobotoCondensed-Regular;
  width: 50%;
  float: right; }

.plusone-preview .item-options {
  background-color: #F44336;
  padding: 0px;
  margin: auto;
  width: 40px;
  height: 65px; }

.plusone-preview .button .icon {
  margin-left: 5px; }

.plusone-preview .button {
  color: #fff; }

.plusDosage {
  margin: auto;
  width: 85px;
  padding: 0px;
  margin-bottom: 10px; }

.plusDosage label [type="checkbox"] {
  display: none; }

.radioWrap input[type="radio"] {
  display: none; }

.radioWrap label {
  display: inline-block;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin: 2%;
  font-size: 20px;
  transition: 0.5s;
  line-height: 40px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3); }

.radioWrap input[type="radio"]:checked + label {
  background-color: white;
  color: red; }

.plusDosage [type="checkbox"] + span {
  display: inline-block;
  border-radius: 65px;
  width: 65px;
  height: 65px;
  margin: 2%;
  font-size: 24px;
  transition: 0.5s;
  line-height: 65px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3); }

.plusDosage {
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-bottom: 20px; }

.plusDosage [type="checkbox"]:checked + span {
  background-color: #fff;
  border: 0px solid #fff;
  display: inline-block;
  opacity: 1;
  color: #03A9F4;
  transition: 0.5s; }

.plusOneHeader {
  font-size: 24px !important; }

.noBackground {
  background: transparent;
  border: none;
  color: #fff; }

.range input {
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 1px;
  width: auto;
  height: 50px;
  outline: none;
  background: linear-gradient(to right, #fff 0%, #fff 100%);
  background-position: center;
  background-size: 99% 2px;
  background-repeat: no-repeat;
  -webkit-appearance: none; }

.note p, .mood p {
  color: white;
  margin-top: 20px; }

/**
 * Popups
 * --------------------------------------------------
 *
 */
.popup-container {
  background-color: rgba(0, 0, 0, 0.4); }

.popup-container .popup {
  color: #fff;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: left;
  margin: auto;
  width: 92%;
  border-bottom: 10px; }

.popup-head {
  border-bottom: 0px; }

.popup-head h3 {
  border-bottom: 0px;
  color: #212121; }

/* Rectangle 176: */
.popup-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: RobotoCondensed-Regular; }

.popup-sub-title {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: RobotoCondensed-Light; }

.popup-body {
  text-align: center;
  font-size: 18px;
  font-family: RobotoCondensed-Light;
  padding: 20px;
  margin-bottom: 20px;
  color: #212121; }

.popup-body li {
  text-align: left;
  padding: 10px;
  margin: 2px;
  background-color: #fff;
  list-style-type: none; }

.popup-buttons {
  background-color: #fff;
  padding: 0px !important;
  min-height: 50px !important;
  border-radius: 5px; }

.popup-buttons .button-clear {
  font-family: RobotoCondensed-Regular;
  font-size: 18px; }

.profilePopButton {
  font-size: 60px !important;
  margin-top: -5px; }

.popup-photoAdd {
  font-size: 60px !important;
  color: #fff !important;
  background: #00bcd4;
  border: none;
  border-radius: 2px;
  margin: 1px;
  width: 100px;
  height: 100px; }

/**
 * florence-list
 * --------------------------------------------------
 *
 */
.florence-list {
  text-align: left;
  background: none;
  margin-top: 5px; }

.florence-list .item {
  border: none;
  margin-bottom: 5px;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  padding: 14px 15px;
  border-radius: 0px !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.florence-list .item .right-side {
  float: right;
  margin: -8px 0; }

.florence-list .item .right-side i {
  font-size: 32px;
  line-height: 1em; }

.florence-list .item .flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.florence-list .item.disabled {
  opacity: .5; }

.florence-list .item-right-editable {
  padding: 0; }

.florence-list .item-right-editable .item-content {
  background: #80c582;
  padding: 16px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.florence-list .item-right-editable .item-options {
  padding: 4px;
  margin: auto;
  width: 36px;
  background-color: #F44336; }

.florence-list .item-right-editable .item-options .ion-minus-circled::before {
  font-size: 18px;
  color: #FFFFFF;
  margin-top: -2px; }

.florence-list .item.item-divider {
  background: none;
  text-align: center; }

.florence-list .item-note {
  color: white; }

.accordeon .entry {
  padding: 11px 13px;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: -1px;
  background-color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff; }

.accordeon .entry .right-side {
  float: right;
  margin: -8px 0; }

.accordeon .entry input {
  font-size: 24px;
  color: white;
  background: none;
  text-align: right;
  font-family: "RobotoCondensed-Regular";
  width: 100px;
  padding: 0;
  font-weight: 300; }

.accordeon .entry:last-child {
  margin-bottom: 20px; }

.florence-checkbox {
  font-size: 1.5em; }

.florence-checkbox i {
  height: 1em;
  line-height: 1em;
  display: block; }

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.dropdownItem {
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  padding: 11px 13px;
  font-size: 18px; }

.dropdownItem.activated {
  background-color: transparent;
  border-color: #fff; }

.dropdownList {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px; }

/**
 * Modal
 * --------------------------------------------------
 *
 */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20%;
  padding-bottom: 10%;
  height: 100%; }

.modal .box {
  width: 91%;
  margin: auto;
  background-color: #4CAF50;
  position: relative; }

.modal .box .item-checkbox {
  background-color: #80C582;
  margin: auto;
  border: 0px;
  color: #fff;
  font-family: RobotoCondensed-regular;
  font-size: 20px; }

.modal .card-header {
  padding-top: 8px; }

.modal .notification-list .item .right-side i {
  color: #49994c; }

.modal .notification-list .item.postpone-item {
  background: #FFB300; }

.modal .notification-list .item.postpone-item .right-side i {
  color: white; }

.modal .notification-list .item.checked .right-side i {
  color: white; }

.modal .reminder-time-display {
  margin: 10px 0 15px; }

.modal .reminder-time-display h4, .modal .reminder-time-display h3 {
  margin: 0; }

.modal .reminder-time-display .reminderTime {
  width: 150px; }

/**
 * History icons
 * --------------------------------------------------
 *
 */
[class*="history-icon"] {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.history-icon-Reminder {
  background: #4CAF50; }

.history-icon-Reminder:before {
  content: "\f3e2"; }

.history-icon-Plusone {
  background: #03A9F4; }

.history-icon-Plusone:before {
  content: "\f45e"; }

.history-icon-Mood {
  background: #ecd31f; }

.history-icon-Mood:before {
  content: "\f31c"; }

.history-icon-Pain {
  background: #ff022f; }

.history-icon-Pain:before {
  content: "\f137"; }

.history-icon-Note {
  background: #878785; }

.history-icon-Note:before {
  content: "\f418"; }

.history-icon {
  border-radius: 100%;
  width: 1.4em;
  line-height: 1.4em;
  display: inline-block;
  text-align: center;
  margin: -6px 5px -6px -5px; }

/**
 * History
 * --------------------------------------------------
 *
 */
.history-wrapper {
  background-color: #4CAF50;
  background-image: none; }

.history-wrapper .scroll-content {
  padding: 0; }

.history-wrapper .card-footer {
  height: 48px; }

.history-icon-unattended {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 100%;
  width: 1.4em;
  line-height: 1.4em;
  display: inline-block;
  text-align: center;
  margin: -6px 5px -6px -5px; }

.history-navigation-button {
  position: absolute;
  margin: 5px;
  top: 0;
  opacity: 0.8;
  background: none;
  color: white;
  padding: 0;
  font-size: 24px;
  width: 1.5em;
  border-radius: 100%;
  border: 1px solid transparent; }

.history-filter-button-toggle, .history-csv-export-button, .history-delete-intake, .history-navigation-button-back {
  position: absolute;
  margin: 5px;
  top: 0;
  opacity: 0.8;
  background: none;
  color: white;
  padding: 0;
  font-size: 25px;
  width: 1.5em;
  border-radius: 100%;
  border: 1px solid transparent; }

.history-filter-button-toggle:active, .history-filter-button-toggle:hover, .history-filter-button-toggle:focus, .history-filter-button-toggle.activated, .history-csv-export-button:active, .history-csv-export-button:hover, .history-csv-export-button:focus, .history-csv-export-button.activated, .history-delete-intake:active, .history-delete-intake:hover, .history-delete-intake:focus, .history-delete-intake.activated, .history-navigation-button-back:active, .history-navigation-button-back:hover, .history-navigation-button-back:focus, .history-navigation-button-back.activated, .history-navigation-button:active, .history-navigation-button:hover, .history-navigation-button:focus, .history-navigation-button.activated {
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.5); }

.history-filter-button-toggle.active, .history-csv-export-button.active, .history-delete-intake.active, .history-navigation-button-back.active, .history-navigation-button.active {
  opacity: 1;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #4CAF50; }

.history-navigation-button, .history-navigation-button-back {
  right: 0;
  z-index: 99;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 1.6em;
  margin: -2px;
  width: 1.5em;
  height: 1.5em; }

.history-navigation-button-back {
  margin: 10px;
  right: inherit;
  left: 0; }

.history-delete-intake {
  left: 0; }

.history-filter-button-toggle {
  right: 40px; }

.history-csv-export-button {
  right: 0; }

.history-detail-inner {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.history-filter-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 9px 0;
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

.history-filter-bar .history-filter-button {
  color: white;
  font-size: 27px;
  border: none;
  border-radius: 100%;
  padding: 7px;
  width: 42px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.41);
  margin: 0 3px;
  opacity: 0.4; }

.history-filter-bar .history-filter-button.active {
  opacity: 1; }

/**
 * nv d3
 * --------------------------------------------------
 *
 */
/********************
 * HTML CSS
 */
.chartWrap {
  margin: 0;
  padding: 0;
  overflow: hidden; }

/********************
  Box shadow and border radius styling
*/
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

/********************
 * TOOLTIP CSS
 */
.nvtooltip {
  border-radius: 50px;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background-color: white;
  padding: 2px;
  border: 0px solid #4CAF50;
  z-index: 10000;
  color: #000;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;
  transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -webkit-transition-delay: 0ms; }

.nvtooltip.x-nvtooltip, .nvtooltip.y-nvtooltip {
  padding: 8px;
  display: none; }

.nvtooltip h3 {
  color: #000;
  margin-top: 5px;
  font-size: 16px;
  padding: 4px 14px;
  line-height: 30px;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.nvtooltip p {
  margin: 0;
  padding: 5px 14px;
  text-align: center; }

.nvtooltip span {
  display: inline-block;
  margin: 2px 0; }

.nvtooltip table {
  margin: 6px;
  border-spacing: 0; }

.nvtooltip table td {
  padding: 2px 9px 2px 0;
  vertical-align: middle; }

.nvtooltip table td.key {
  font-weight: normal; }

.nvtooltip table td.value {
  text-align: right;
  font-weight: bold; }

.nvtooltip table tr.highlight td {
  padding: 1px 9px 1px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px; }

.nvtooltip table td.legend-color-guide div {
  width: 8px;
  height: 8px;
  vertical-align: middle; }

.nvtooltip .footer {
  padding: 3px;
  text-align: center; }

.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none; }

/********************
 * SVG CSS
 */
svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Trying to get SVG to act like a greedy block in all browsers */
  display: block;
  width: 100%;
  height: 100%; }

svg text {
  font-family: RobotoCondensed-Regular;
  font-size: 10px; }

svg .title {
  font: bold 14px Arial; }

.nvd3 .nv-background {
  fill: white;
  fill-opacity: 0;
  /*
  pointer-events: none;
  */ }

.nvd3.nv-noData {
  font-size: 14px;
  font-weight: regular; }

/**********
*  Brush
*/
.nv-brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges; }

/**********
*  Legend
*/
.nvd3 .nv-legend .nv-series {
  cursor: pointer; }

.nvd3 .nv-legend .disabled circle {
  fill-opacity: 0; }

/**********
*  Axes
*/
.nvd3 .nv-axis {
  pointer-events: none; }

.nvd3 .nv-axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges; }

.nvd3 .nv-axis path.domain {
  stroke-opacity: 0; }

.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0; }

.nvd3 .nv-axis line {
  fill: none;
  stroke: #f5f5f5;
  shape-rendering: crispEdges; }

.nvd3 .nv-axis .zero line, .nvd3 .nv-axis line.zero {
  stroke-opacity: .75; }

.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
  font-size: 10px; }

.nvd3 .x .nv-axis .nv-axisMaxMin text, .nvd3 .x2 .nv-axis .nv-axisMaxMin text, .nvd3 .x3 .nv-axis .nv-axisMaxMin text {
  text-anchor: middle; }

/**********
*  Brush
*/
.nv-brush .resize path {
  fill: #eee;
  stroke: #666; }

/**********
*  Bars
*/
.nvd3 .nv-bars .negative rect {
  zfill: brown; }

.nvd3 .nv-bars rect {
  zfill: steelblue;
  fill-opacity: 1;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear; }

.nvd3 .nv-bars rect.hover {
  fill-opacity: 1; }

.nvd3 .nv-bars .hover rect {
  fill: lightblue; }

.nvd3 .nv-bars text {
  fill: transparent; }

.nvd3 .nv-bars .hover text {
  fill: black; }

/**********
*  Bars
*/
.nvd3 .nv-multibar .nv-groups rect, .nvd3 .nv-multibarHorizontal .nv-groups rect, .nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0;
  fill-opacity: 1;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear; }

.nvd3 .nv-multibar .nv-groups rect:hover, .nvd3 .nv-multibarHorizontal .nv-groups rect:hover, .nvd3 .nv-discretebar .nv-groups rect:hover {
  fill-opacity: 1;
  stroke-opacity: 0; }

.nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text {
  font-weight: bold;
  fill: black;
  stroke: black; }

/***********
*  Pie Chart
*/
.nvd3.nv-pie path {
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear; }

.nvd3.nv-pie .nv-slice text {
  stroke: #000;
  stroke-width: 0; }

.nvd3.nv-pie path {
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 1; }

.nvd3.nv-pie .hover path {
  fill-opacity: .7; }

.nvd3.nv-pie .nv-label {
  pointer-events: none; }

.nvd3.nv-pie .nv-label rect {
  fill-opacity: 0;
  stroke-opacity: 0; }

/**********
* Lines
*/
.nvd3 .nv-groups path.nv-line {
  fill: none;
  stroke-width: 1.5px;
  /*
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */ }

.nvd3 .nv-groups path.nv-line.nv-thin-line {
  stroke-width: 1px; }

.nvd3 .nv-groups path.nv-area {
  stroke: none;
  /*
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  stroke-width: 2.5px;
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  */ }

.nvd3 .nv-line.hover path {
  stroke-width: 6px; }

/*
.nvd3.scatter .groups .point {
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
}
  */
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 0;
  stroke-opacity: 0; }

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
  fill-opacity: .5 !important;
  stroke-opacity: .5 !important; }

.with-transitions .nvd3 .nv-groups .nv-point {
  transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear; }

.nvd3.nv-scatter .nv-groups .nv-point.hover, .nvd3 .nv-groups .nv-point.hover {
  stroke-width: 7px;
  fill-opacity: .95 !important;
  stroke-opacity: .95 !important; }

.nvd3 .nv-point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0; }

.nvd3 .nv-indexLine {
  cursor: ew-resize; }

/**********
* Distribution
*/
.nvd3 .nv-distribution {
  pointer-events: none; }

/**********
*  Scatter
*/
/* **Attempting to remove this for useVoronoi(false), need to see if it's required anywhere
.nvd3 .nv-groups .nv-point {
  pointer-events: none;
}
*/
.nvd3 .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .5; }

.nvd3 .nv-scatter .nv-point.hover {
  fill-opacity: 1; }

/*
.nv-group.hover .nv-point {
  fill-opacity: 1;
}
*/
/**********
*  Stacked Area
*/
.nvd3.nv-stackedarea path.nv-area {
  fill-opacity: 1;
  /*
  stroke-opacity: 0;
  fill-opacity: 1;
  */
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
  /*
  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  */ }

.nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: .9;
  /*
  stroke-opacity: .85;
  */ }

/*
.d3stackedarea .groups path {
  stroke-opacity: 0;
}
  */
.nvd3.nv-stackedarea .nv-groups .nv-point {
  stroke-opacity: 0;
  fill-opacity: 0; }

/*
.nvd3.nv-stackedarea .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}*/
/**********
*  Line Plus Bar
*/
.nvd3.nv-linePlusBar .nv-bar rect {
  fill-opacity: 1; }

.nvd3.nv-linePlusBar .nv-bar rect:hover {
  fill-opacity: 1; }

/**********
*  Bullet
*/
.nvd3.nv-bullet {
  font: 10px sans-serif; }

.nvd3.nv-bullet .nv-measure {
  fill-opacity: .8; }

.nvd3.nv-bullet .nv-measure:hover {
  fill-opacity: 1; }

.nvd3.nv-bullet .nv-marker {
  stroke: #000;
  stroke-width: 2px; }

.nvd3.nv-bullet .nv-markerTriangle {
  stroke: #000;
  fill: #fff;
  stroke-width: 1.5px; }

.nvd3.nv-bullet .nv-tick line {
  stroke: #666;
  stroke-width: .5px; }

.nvd3.nv-bullet .nv-range.nv-s0 {
  fill: #eee; }

.nvd3.nv-bullet .nv-range.nv-s1 {
  fill: #ddd; }

.nvd3.nv-bullet .nv-range.nv-s2 {
  fill: #ccc; }

.nvd3.nv-bullet .nv-title {
  font-size: 14px;
  font-weight: bold; }

.nvd3.nv-bullet .nv-subtitle {
  fill: #999; }

.nvd3.nv-bullet .nv-range {
  fill: #bababa;
  fill-opacity: .4; }

.nvd3.nv-bullet .nv-range:hover {
  fill-opacity: .7; }

/**********
* Sparkline
*/
.nvd3.nv-sparkline path {
  fill: none; }

.nvd3.nv-sparklineplus g.nv-hoverValue {
  pointer-events: none; }

.nvd3.nv-sparklineplus .nv-hoverValue line {
  stroke: #333;
  stroke-width: 1.5px; }

.nvd3.nv-sparklineplus, .nvd3.nv-sparklineplus g {
  pointer-events: all; }

.nvd3 .nv-hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0; }

.nvd3.nv-sparklineplus .nv-xValue, .nvd3.nv-sparklineplus .nv-yValue {
  /*
  stroke: #666;
  */
  stroke-width: 0;
  font-size: .9em;
  font-weight: normal; }

.nvd3.nv-sparklineplus .nv-yValue {
  stroke: #f66; }

.nvd3.nv-sparklineplus .nv-maxValue {
  stroke: #2ca02c;
  fill: #2ca02c; }

.nvd3.nv-sparklineplus .nv-minValue {
  stroke: #d62728;
  fill: #d62728; }

.nvd3.nv-sparklineplus .nv-currentValue {
  /*
  stroke: #444;
  fill: #000;
  */
  font-weight: bold;
  font-size: 1.1em; }

/**********
* historical stock
*/
.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
  stroke-width: 2px; }

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
  stroke-width: 4px; }

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
  stroke: none; }

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
  stroke: #d62728; }

.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
  font-weight: bold; }

.nvd3.nv-historicalStockChart .nv-dragTarget {
  fill-opacity: 0;
  stroke: none;
  cursor: move; }

.nvd3 .nv-brush .extent {
  /*
  cursor: ew-resize !important;
  */
  fill-opacity: 0 !important; }

.nvd3 .nv-brushBackground rect {
  stroke: #000;
  stroke-width: .4;
  fill: #fff;
  fill-opacity: .7; }

/**********
* Indented Tree
*/
/**
 * TODO: the following 3 selectors are based on classes used in the example.  I should either make them standard and leave them here, or move to a CSS file not included in the library
 */
.nvd3.nv-indentedtree .name {
  margin-left: 5px; }

.nvd3.nv-indentedtree .clickable {
  color: #08C;
  cursor: pointer; }

.nvd3.nv-indentedtree span.clickable:hover {
  color: #005580;
  text-decoration: underline; }

.nvd3.nv-indentedtree .nv-childrenCount {
  display: inline-block;
  margin-left: 5px; }

.nvd3.nv-indentedtree .nv-treeicon {
  cursor: pointer;
  /*
  cursor: n-resize;
  */ }

.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
  cursor: pointer;
  /*
  cursor: s-resize;
  */ }

/**********
* Parallel Coordinates
*/
.nvd3 .background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges; }

.nvd3 .foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7; }

.nvd3 .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges; }

.nvd3 .axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.nvd3 .axis text {
  text-shadow: 0 1px 0 #fff; }

/****
Interactive Layer
*/
.nvd3 .nv-interactiveGuideLine {
  pointer-events: none; }

.nvd3 line.nv-guideline {
  stroke: #ccc; }
